<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href = "/css/blog/specific.css" rel = "stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div id = "navbar">
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>Thoughts from VOICE Summit:<br/>Voice Apps and the New Power of Personas</h1>
  <h4>July 19th, 2019</h4>

  <center><img src = "/images/summit.jpeg" /></center>

  <div class = "text">
    <p>	The Voice Summit kicked off last week attracting roughly 5000 voice developers to the NJIT campus. Sponsored by Amazon Alexa, it’s safe to say this was the biggest conference of its like in the world. As one of the developers in attendance, I had the opportunity to meet a lot of these fantastic people. From the Amazon Alexa team to entrepreneurs hailing from around the globe, all of the people I met shared a common vision: a world where conversations with your computer were completely natural. Consequently, the question being asked all over the summit was How best to create such an experience? After all, as I’ll talk about later, we’ve all had bad experiences with Interactive Voice Response (IVR) machines. As the voice industry develops, how are we going to take these perfect conversations that everyone believes can happen and turn them into a reality? In short, because voice assistant apps need to be designed fundamentally different than visual apps, developers have a unique opportunity to create new connections with their users, implying the personas they create to interact with the users will become the new face of brands.
      <br/><br/>
	Fundamentally, voice apps need a different intensity of focus from the user than visual apps, requiring voice apps to keep their output short and engaging. Just from regular life of experience one can see how this is true. If someone is talking to you, and you zone out for a bit, when you zone back in you have no idea where the conversation is. On the other hand, phones can lose your attention for hours but when you turn your attention back you are right where you left off. The difficulty here is not recognizing the different intensity of focus a user needs to give to the voice app. The difficulty is designing the output of your voice app to minimize the chances your user loses focus. Moreover, this kind of design is still being pondered over. To give my thoughts on the issue, first I’ll define two basic terms in the context of voice, input and output. Input is whatever the user says to the device, and output is simply what the device says back. Addressing the former, voice input is natural; every human has been using his/her voice to interact with things since he/she learned to speak. This ease is what gives us voice developers such hope for the medium. Provided intents are given enough different ways to be triggered, using a voice app would become preferable to typing away to get information. Naturally, it is the output that has made voice apps difficult to use. In general, people don’t like one-sided conversations. Everyone has had the experience of listening to someone drone on and on. So when a voice app keeps talking––perhaps by listing every option in a dropdown menu––users understandably get annoyed. As of now, the rule of thumb is to only give users at most 3 options to choose when designing a voice app. I, however, think there’s an easier way.
<br/><br/>
	Voice apps differences allow them to interact with the user with a more defined personality, thus creating a more personal connection with users. In addition to the input-output difference outlined above, another distinction is the setting voice apps are used in. Voice apps normally are used on smart speakers, which means that when someone uses the app, everyone in the room can hear the input-output flow. Beyond being sure to create voice apps that don’t disclose embarrassing information at full volume, this setting also can help you imagine the best output length for a voice app. Suppose that 3 people are surrounding the speaker that uses your voice app. In the same way that one might speak in a group, the same response length should be mirrored in the output. While this mindset is better than the rule of thumb from before, it still isn’t helpful enough. To make the framing better, let’s imagine the users of the voice app. What kind of person would be the 4th person in the room? The answer to that question will send you on your way to creating a persona. A persona is a personality that characterizes all of responses a skill gives to the user. For voice apps, companies like Amazon and Google ship their smart speakers with default personas. This aids developers, because they can tap into the personality that came preinstalled with the device. Moreover, when a persona is absent, it can often compound a negative voice experience. For instance, nearly every American has had the displeasure of calling their bank to get a robotic IVR output. It takes forever for it to understand you, and, if you’re anything like me, the sound of the voice alone is vexing. Conversely, when the iPhone 4S launched people lined up around the block to interact with Siri. The voice assistant is basically the same idea as the bank’s IVR––they both are interacted with via voice and both are functional––only Siri had personality. If you ask Siri an absurd question, you get a human-like response back. While you certainly don’t associate anything positive about the IVR with the bank, many of the jokes Siri tells subconsciously make you like Apple more. As my business school professors like saying, people trust people, not companies. I think you can see where I’m heading with this.
<br/><br/>
	In the same way that brands meticulously craft advertisements and characters to be the face of the brand, personas will likewise become important. Just as the most successful brands have character behind their social media posts, brands will use voice apps to greatly improve the customer experience. In other words, for the first time in history companies can control how the customer service experience will be for their customers. If a company knows their customer well enough, they can craft the perfect persona to interact with their customers. Naturally, there’s an art to making the persona feel authentic and engaging, but that is precisely where the opportunity for voice developers lies. Become a person who is gifted at creating these personas, and every company will be calling your number. From the company perspective, just like other interactions with computers, data analytics of conversations will help the voice app get better and better. If the company notices a lot of people phrasing their questions in a certain way, they can adjust the wording on their product to more closely match the consumer desire. If the company wants to target people by a demographic, they can create a persona to match each demographic. When the consumer picks the persona they like best, all the digital marketing that person sees from the company will follow with the same persona’s voice. In summation, companies will become more personal.
<br/><br/>
	In closing, the age of voice personas is dawning. Anyone with a brand, whether that be commercial, personal or somewhere in between, can benefit from creating a persona. Effectively, you’re creating the perfect spokesperson. They’re always on message, never do anything stupid, and say exactly what you want them to say. Like the old adage goes, the early bird gets the worm. Now is the time those early birds are waking up.
</p>
  </div>

    <% include ../partials/footer.ejs%>


</body>
