<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href = "/css/blog/specific.css" rel = "stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
  <% include ../partials/navbar %>

  <h1>Thoughts After Organizing the Egg Hunt</h1>
  <h4>March 6th, 2020</h4>

  <center><img src = "/images/rabbit.jpg" /></center>

  <div class = "text">
    <p>
      As the Special Events director for University Productions, I am in charge of putting events that attract people from all over Lehigh's Campus. I view this as putting on events that create a greater sense of culture at Lehigh. When we spoke to students of all ages and alumni, they all agreed a defining part of Lehigh is the Le-Laf football game. Nonetheless, after that one event, people couldn't agree on what else was a defining feature for everyone. It was here that I began my work. After being promoted from ThirdSpace to Special Events, I had significantly more budget and two enormous events behind me proving I could get things done. This was the time to go for something big.
    <br/><br/>
    	At Lawrenceville, I helped coordinate our school-wide game of Splash. I got to see first hand how it brought the school together; giving people the opportunity to go outside their comfort zone in a fun way. Moreover, it gave people a reason to meet new people. With the weather getting nicer outside, I decided we were going to try and find a campus-wide game we could all play. Thinking back to my childhood, my mother would always go above and beyond hiding eggs for us. She always found ingenious hiding places around my house. After Nick gave his blessing, I began work.
    <br/><br/>
    	The difficulty of an egg hunt is two fold. One, finding the people to power the event, and two, creating a system that prevents cheating. In this blog piece, I’m going to cover  how I put together the people portion of the event. To see how I handled the engineering and system design, please go to the <a href = "/projects/rabbit">projects part</a>.
    <br/><br/>
    	To begin, I’ve always believed that to do something great you need to surround yourself with good people. I needed a good partner after my friend Kendall decided to focus more on her film pursuits spring semester. I was on the look out and one night at dinner I found my partner. Vic Collum is actually my roommate for next semester, so she was a natural choice to join me. Vic had an incredible enthusiasm for the project and so we began our journey.
    <br/><br/>
    	Like most of my events, I have been guided by Nick Christy. Nick has a strong understanding of how the university works and how students here think. As such, he was the first person we brought the idea to. He asked us a bunch of questions about implementation, and when we told him the full scope of the idea, he realized we’d have to meet with administrators to get the event approved. Here is the student experience we sold him on. On the week before Spring Break, students would wake up and find eggs hidden all over campus. Knowing that there would be a significant prize if they find the most, they would then start looking for them. Once they find the eggs, they’d open it to find a code inside. Putting that code into our website, they could see not only how many they’d found, but also a leaderboard comparing them to everyone else. Thus in real time they could see how close they were to winning prizes. The concern naturally was the execution.
    <br/><br/>
    	Vic and I went before the College Events Advisory Group to tell them all the details of our idea. While they pushed back on a lot of our ideas, they liked the idea in total and gave us a few sticking points before we started. The biggest two were making sure the eggs were eco-friendly and making sure the eggs were all cleaned up. Naturally they didn’t want eggs littered over campus when the weather got nice. With those in mind and now with full approval, we began work.
    <br/><br/>
    	We decided to keep our first egg hunt conservative but significant. As such, we ordered 2000 eggs. Two immense human challenges laid before us, getting the word out so people would be excited for the egg hunt, and finding enough people to help us hide these eggs.
    <br/><br/>
    	Beginning with the advertising campaign, I had found that posters in group chats aren’t worth anything if the people aren’t already excited about them. In short, simply dropping posters into a group chat won’t get people to care about the event. If anything, it makes them tune out any further advertisements. My time organizing the Holiday Soiree convinced me that lawn signs and physical advertisements work the best. So, we ordered as many lawn signs as we could and went to work. One night around 8PM, Vic and I walked around campus putting the signs in every place we found our eyes drawn to. Vic here did an especially good job finding the places. Next, we took chalk and drew in big letters “FIND EGGS, ENTER CODES ONLINE, WIN $200” We targeted stairs around campus as people often look down when they walk up Lehigh’s many steps. Furthermore, anything colorfully written there is out of the ordinary and will attract extra attention.
    <br/><br/>
    	After the advertising campaign, we had to find a team. I spoke with my Business Management professor about the problem, and he illustrated two enormous vulnerabilities this task presented. First, because the prizes were significant, people hiding the eggs shouldn’t be allowed to play as the temptation to find the eggs they hid is too great. Second, I had to choose people who I knew wouldn’t give the game away. It was important they didn’t go around telling people where to look. Thus, Vic and I assembled 20 of our closest friends. The task had now grown to not only hiding the eggs but putting the codes into them too. To their credit, our friends were incredible! They came to Lamberton Hall at 8PM on a Sunday night and did nothing but put codes into eggs for an hour. Then in the freezing cold, they went out and hid them all over campus. I really felt blessed to know such wonderful people.
    <br/>
  </p></div>
    <center><img src = "/images/eh.jpg"></img></center>
    <div class="text"><p>
    <br/>
    	The game was designed to last 3 days, Monday to Wednesday with the game beginning and ending at midnight. Nonetheless, the event was such a huge hit, nearly all the eggs had been found by the end of Monday! After the first day, the front-runner had found 200 eggs! People had woken up at midnight to go find these eggs! Not just one or two mind you, nearly 60 people were patrolling the campus! Our advertising worked so well people were very upset to find that most of the eggs were found so quickly. The old adage you snooze you lose is very applicable here. From a community perspective, the event was incredibly impactful. Students from every corner of campus were talking about the egg hunt and connecting with other people. Our winners at the end came from all over the University. We almost immediately were given clearance to double the size of the event next year, with many people already counting down to the next hunt. No doubt the next iteration will be even more competitive and even more fun for those involved. Naturally, the only way an event can be this big of a success is when a lot of great people work together. I’d like to thank Vic Collum for all of her hard work, as well as every person who came to help set up and hide the eggs!
    <br/><br/>
    Onwards and Upwards!
    </p>
  </div>

    <% include ../partials/footer.ejs%>


</body>
