<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
  <% include ../partials/navbar %>

  <h1>FitBit and Medical Data of the Future</h1>
  <h4>July 15th, 2020</h4>

  <center><img src = "/images/fitbit.jpg" /></center>

  <div id = "mid">
    <p>
      About a month ago, I purchased a FitBit. Sitting around all day is not good for you, and I was concerned my lifestyle was getting too sedentary. Nevertheless, I'm a big believer that data should guide your beliefs, so I bought the FitBit to measure just how sedentary my behavior was. After using the device for two weeks, a couple of things became clear to me. One, being able to track your progress is incredibly motivating. Almost immediately after buying my FitBit, I was able to change my behavior to better align with my health goals. I wanted to be in good cardio health, and the constant heart rate monitoring allowed me to directly compare how effective different routines were at exercising my cardiovascular system. Two, a device like a FitBit was the beginning of using tech and big data to catch health problems early.
      <br/><br/>
      What got me really thinking though, was a survey FitBit had on their app. FitBit asked the user to allow the company to analyze their heart data. The hope was that they could detect abnormal heart beats and get ahead of anything that might become an issue. That got me thinking about how a system like FitBit could significantly improve human life all over the planet. In short, we could create a world where diseases are spotted and treated before the person even experiences symptoms. Cicero once said, "In nothing do men more nearly approach the gods, than in giving health to men." For most of human history, specific and individually tailored preventative care for diseases was almost impossible. It was difficult to know what you were at risk for developing. There were certain things one could do‚--if you were nervous about skin cancer, then you could avoid going out in the sun and wear sun block when you do go outside-- but for the most part we were flying in the dark. This was not because humankind didn't want to prevent these diseases. It came down to a multitude of factors, one being we simply didn't have enough data on the varying conditions. Once you developed the symptoms, it was too difficult to figure out what had caused it, especially if the cause was years before symptoms presented.  Monitoring a wide enough population of people to figure out what the early signs of arthritis are was not possible for the most powerful civilizations even fifty years ago. Medicine had no choice but to wait for symptoms to develop before data could be recorded and hopefully the disease could be treated. This is where things can begin to change. Companies like FitBit could use the data they collect to power medical studies and advancements. Today, if a person wearing a FitBit has a migraine, FitBit has all the data about that person’s daily health before the migraine. Plug in the information of millions of migraine sufferers into the medical research community, and you have an opportunity like never before to learn about migraines and ideally how to prevent them. Now you have the data to begin studying seriously how to prevent disease before the faintest symptoms appear. That information would shift the medical question from being how to quickly treat a migraine to how specifically can someone live so they never get one? Just like people figured out which plants were poisonous and thus shouldn't be eaten, we could figure out how to avoid certain deadly diseases entirely. It all depends on the data we can now collect.
      <br/><br/>
      But utopian visions can be easily perverted into dystopias. One doesn't have to think hard to figure out the danger such concentrations of medical data can create. Ethics in medicine is critical. Arguably it will be even more important in medical data technology. We've begun in a good direction, with laws like HIPAA protecting medical information. Nevertheless, as technologies are built that can help people, it will be paramount that there are guardrails set up to be sure these techs are not misused. After all, electricity can keep your pacemaker beating, but it can also electrocute people. Caution and deliberate action will be more than necessary. The next great leap for our species may well come from this domain. While we are living at its dawn, it is critical that we begin creating consensus about what is fair and just to do and what is not. The future for this technology is incredibly powerful. As I said above, it may lead to a fundamental shift in the way humans can live their lives. We just need to be sure that the shift is in the right direction.

      <br/><br/>
      Onwards & Upwards
    </p>
  </div>

    <% include ../partials/footer.ejs%>


</body>
