<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs%>
        <link href="/css/common.css" rel="stylesheet" />
        <link href="/css/landing.css" rel='stylesheet' />
        <link href="/css/start.css" rel="stylesheet" />
        <link href="/css/icons.css" rel="stylesheet" />
        <link href="/css/blog/specific.css" rel="stylesheet" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <% include ../partials/navbar.ejs %>
    <h1>Redoing the Social Media Risk-Benefit Analysis</h1>
    <h4>August 15th, 2019</h4>
    <center><img src="/favicon.png" /></center>
    <div class="text">
        <p> If you grew up at all like me, you had multiple assemblies where well-meaning adults would warn you of the perils of social media. “People’s lives have been ruined by one mistake they posted to Facebook”, or “His offer to Lehigh was rescinded because he posted something he shouldn’t have” or “social media is where reputations go to die.” Bringing these claims up is not to say they’re unsubstantiated––far from it. You don’t have to look far to find a news article tearing into someone’s mistakes on social media. For someone who was young when social media was taking over the planet, it was sage advice to largely avoid it. Nevertheless, the world is changing. Now the internet is nothing if not social. Web apps are designed to go viral, and a large part of many startups user acquisition strategy is savvy social media usage. Thus, it's worth re-evaluating both the opportunities social media has created as well as the dangers it still poses.
            <br/>
            <br/> To be able to connect with someone else is the greatest skill. It’s what set humans apart from all other life on Earth. Humans are not the strongest, or even arguably the most intelligent creatures on this planet. It is our ability to work together that enables our species’ success, and this teamwork is enabled by our connections. The better a person’s connections, the greater impact they can have. It’s why the most powerful people on earth have such vast networks of people they rely on. Like Andre Agassi talks about in his autobiography, you are the people who you are surrounded by. Social Media is the greatest way to build upon this strength. If you can make people feel connected to you, then you are on your way to changing the world. Naturally, this is all very abstract, so let’s ground it with a case study: Gary Vaynerchuk. Arguably the most famous serial entrepreneur, Gary Vaynerchuk is famous for his motivational speaking as well as for his sage business advice. Not to discredit Gary, but he is not the only person who gives motivational talks and business advice. Why do people connect more with him than any of the other thousands of people trying to do the same thing? Gary Vee is a powerful storyteller. Not only can he tell an engaging story using his words, he can also craft one across social media platforms. In a landscape full of facades and disingenuousness, every post Gary makes is full of heart and character. Even though he as a team of people working for him to create content to fill every social media platform, his personality still shines through. Thus, people connect with him both emotionally and financially. His connection with people is what drives his view count, his image, his media coverage, and his sales. All of this is made possible by social media. This level of connection, where people really want him to succeed, is only possible when one takes the risk and ventures into social media. In other words, social media gives you the tools to create larger impacts than were ever possible in the twentieth century. Rather than having to go through second-hand sources that misinterpret and change your story, social media lets you connect with people directly. Powerful, right?
            <br/>
            <br/> Nevertheless, every piece of powerful technology has its pitfalls. Just like connection is built into human nature and social media lets you connect with as many people as possible, overreaction and bullying is built into human nature and social media only proliferates the destructive impulses. To address this, remember that everything on social media is public. Everything you do can be mocked, everything you say can be misinterpreted. This fact isn’t new, celebrities are constantly battling malicious rumors. The difference is that most normal people didn’t have to worry about this side of human nature. With social media, someone post some stupid comment and get a hate storm large enough to take down Kanye West. That is scary. For many, this possibility alone isn’t worth the risk. In fact, I’d posit this a reason many famous people hate their lives. Without a doubt, if you go on social media you will post something that isn’t perfect. Without a doubt, you will say something someone doesn’t like. Without a doubt, there will be people who don’t like what you post. The danger is very real.
            <br/>
            <br/> The question you have to decide is what kind of life do you want to lead? Increasingly, legacies are built online. The danger is real, but so is the payoff. In the modern world, anyone can do it. Why not you? </p>
    </div>
    <% include ../partials/footer.ejs%>
</body>

</html>
