<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href = "/css/blog/specific.css" rel = "stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div id = "navbar">
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>Thoughts After Organizing Battle of the Bands</h1>
  <h4>September 29th, 2019</h4>

  <center><img src = "/images/battleofbands.jpg" /></center>

  <div class = "text">
    <p>
Over the summer, I got a phone call from one of my good friends Raahil. Seemingly out of the blue, I picked up and asked him what’s up. Raahil is the President of University Productions, an organization at Lehigh that gets to put on enormous events for the student body. Raahil was calling me to ask me to join him as one of the directors of the organization.<br/><br/>
University Productions is split into different committees, each led by a director. Each committee is tasked with certain kinds of events, like musical performances or taking students to attractions off campus. My mission was to create events that help unify campus. A problem that most universities face is the bubbling effect. In short, the student body is large enough that people find themselves in bubbles and don’t get to experience all that the university has to offer.<br/><br/>
As soon as I ended my call with Raahil, I phoned my good friend Kendall Prime. Kendall and I had known each other almost a year, and I knew if I was going to put on any meaningful event on campus I’d need someone I could rely on. Kendall enthusiastically accepted and that night we started brainstorming what events we could put on that would unite the campus.<br/><br/>
We talked over ideas like a spice competition, a game show, but we settled on our first event would be musical. Nothing unites people like quality music, and we were lucky to go to a university where there are tons of talented people. To make it more exciting and attract more people, we decided to make the event a competition. Thus the idea for the Battle of the Bands was born. Nonetheless, this event was going to take a lot of people and planning to go well.<br/><br/>
We began by dividing our responsibilities. Kendall would start booking the musical acts for the event, with an emphasis on reaching out to different communities on campus. Meanwhile, I would effectively be in charge of attendance, getting different student organizations and coalitions together. I began my task by reaching out to all of my friends about the event and asking them to talk with their executive boards and councils to get their formal support. After weeks of asking everyone I knew, we had significant support for the event. I was really happy when people who didn’t know I was in charge of the event would ask me if I had heard about Battle of the Bands. “It sounds like a ton of fun, you should definitely come!”<br/><br/>
With the support of a lot of phenomenal people, the Battle of the Bands was a huge success. We had phenomenal artists of all different genres show up, and the venue got so crowded people had to go to the second floor and look down to get better views. All in all, Kendall and I got to see our ideas come to fruition, and nothing feels better.<br/><br/>
After the event, the two of us got to thinking about the importance of trusting other people. An event like Battle of the Bands only works if you give up an element of control and let people do what they think is best. We relied on our acts to perform phenomenal music, and we relied on the organizations to show up. We relied on the marketing committee of University Productions to help publicize the event. Most of all, we relied on Nick Christy, director of Student Engagement, for his insight< and his judgement. He helped guide us towards picking the best venues and choosing the best dates for the event. Without a doubt, the event wouldn’t have succeeded without these wonderful people. <br/><br/>
In closing, the event was a huge lesson in having faith in your people.<br/><br/>
To read more about the event, check out the Brown & White's coverage:<br/><a href = "https://thebrownandwhite.com/2019/10/03/lehigh-battle_of_the_bands/#prettyPhoto">https://thebrownandwhite.com/2019/10/03/lehigh-battle_of_the_bands/</a>
<a href = "https://thebrownandwhite.com/2019/10/03/lehigh-battle_of_the_bands/" target="_blank"></a>
    </p>
  </div>

    <% include ../partials/footer.ejs%>


</body>
