<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href = "/css/blog/specific.css" rel = "stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
  <% include ../partials/navbar %>

  <h1>Investment Strategy of Disney Plus</h1>
  <h4>November 16th, 2019</h4>

  <center><img src = "/images/disPlus.jpg" /></center>

  <div class = "text">
    <p>
      In August of 2017, the Walt Disney Corporation announced they were going to jump into the streaming space. It was an enormous pivot. The Disney company had not attempted anything of the like. To be clear, streaming movies is not an easy engineering task. Movies are one of the largest kinds of files computers store, and sending high quality movies across the internet to customers with all different size screens and screen qualities is exceptionally difficult. An enormous amount of money and time is required to even launch the service. Moreover, the streaming space was strongly held by Netflix. Nonetheless, Disney began pulling their intellectual property from Netflix and the like. Thus began Disney's foray into the streaming world.<br/><br/>
      It was early October 2019 when I started looking seriously into Disney Plus--the name for the streaming service. Their release date was in roughly a month and a half, so to my eye it seemed like an ideal time to buy in. However, before I make any trade, I always make sure to right down a clear thesis. I make sure I am specific on what I think will happen, and how long I think it will take to happen. I make prices to sell at specific, and write down events that make my thesis invalid and thus trigger pulling myself out of the market. This helps to protect me from two vices that affect investors: greed and fear. If I'm losing money, but it is what I expected in the short run, then I know to stick it out. I have faith in my thesis. If I'm making money, but my thesis is over, ie the reason for investing in the company no longer exists or is now completely factored into the stock price, then I sell.<br/><br/>
      Leading up to creating my thesis, I did some research into Disney. First, I looked at the idea. Disney Plus aims to sell access the entire Disney catalogue. While some companies may find their well is shallower than they hoped, Disney's intellectual property library is truly massive. Especially after purchasing 20th Century Fox, the number of just feature films Disney owns is unbelievable. There was no question in my mind Disney had enough content to keep people's attention. Moreover, a big complaint of Netflix users is there isn't enough quality content on the site. This is one area Disney really excels with decades worth of classics in their catalogue. Second, I looked at how Disney planned to accomplish this feat. Naturally, being an entertainment company, this was a significant hurdle. Right out the gate, Disney purchased a streaming company, BAMTech, in 2017. This company had worked with Major League Baseball, so the people working on it had good experience working with scale. Nonetheless, my fear was that because streaming is now a realized market, the question was not does the streaming service work, but does the service work the same or better than the competitors. One major way this venture could fail was comparative frustration with the service. In other words, if Disney plus was less reliable than the competitors or even just slower, despite the higher quality content Disney Plus would lose users to competitors. This was my greatest concern. Third, I looked into Disney's leadership. Being an enormous company, there were tons of different department heads. However, media coverage seemed to suggest that the CEO of Disney, Bob Iger, was staking a lot of his personal reputation on the project, so I focused my efforts on him. Having been at the helm of the company since 2005, Iger had vast amounts of experience at Disney. Furthermore, I supported his aggressive acquisition of top-tier IP over his tenure. He seemed to have a strong focus on keeping Disney relevant. That is the kind of thinking that keeps companies alive in the age of the fast moving internet. His commitment gave me faith that Disney was going to invest the necessary time into Disney Plus to make this service top-tier.<br/><br/>
      Thus, I bought Disney stock with the following thesis: Disney Plus will be a success given leadership's strong commitment to it. Furthermore Disney's quality content gives it a unique edge over its competitors and bring people to the service out the gate. The stock will go up at most $10/share after launch. A week after the announcement, the added value of Disney Plus's launch will be incorporated into the stock. Disney Plus's long term value is not considered by this thesis. Must sell at most a week after the launch. We should sell the stock immediately if a glitch happens with delivering the content.<br/><br/>
      With that I waited. Disney's Q3 results came in strong behind a lucrative summer box office. Nonetheless, only on November 12th would Disney Plus really get put to the test. The morning of the launch, my big fear was immediately brought to light. There was a bug; users had significant trouble logging in. Thankfully, a closer look into this error showed that the problem was localized to the authentication server. To quickly explain, large internet systems have their services split amongst many different servers. This way they can distribute traffic to many different servers and allow for more users to have a fast experience. Disney's problem was only with the authentication server. My fear was that the actual sending of content would be buggy. As the content servers didn't appear to have any part in this error, our thesis remained in tact. We held onto our stock.<br/><br/>
      A day later, my faith was vindicated. Disney announced over 10 million people signed up for the service. On this news, the stock shot up to $147. A day later, at $145 I sold my shares. In the long run, Disney Plus's success will largely depend on Netflix's reaction to the new competitor. Netflix stock fell when Disney Plus launched, so investors appear to be aware of the existential threat Disney's service poses to Netflix. The battle over market share begins in earnest now. It will be an exciting time to watch.<br/><br/>
    </p>
  </div>

    <% include ../partials/footer.ejs%>


</body>
