<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
  <% include ../partials/navbar %>

  <h1>Thoughts After Organizing Holiday Soiree</h1>
  <h4>December 15th, 2019</h4>

  <center><img src = "/images/holidaySoiree/cover.jpeg" /></center>

  <div id = "mid">
    <p>
      Shortly after Kendall and I wrapped Battle of the Bands, we knew we wanted to do one more event before the semester ended. You might think this would be an easy goal to reach, but most events on campus are scheduled for late October through November. If we wanted to make our event inclusive, we would want to minimize timing conflicts with other groups. Undeterred, we began talking through ideas. One big takeaway from Battle of the Bands was removing the stage from our events. While it was great fun to have a few defining moments for our event, because everyone was focused on the stage, it limited the amount of time people had to get to know new people. One of the critcisms of the event, was that the ThirdSpace we were hoping to create only happened at the end of the night. I took that to heart and decided our events would no longer have any strong stage presence.<br/><br/>
      With that in mind, I looked back to my Lawrenceville days for event inspiration. One great tradition my dorm at L'ville had was Winter Tea. Everybody in my dorm would invite a friend over, and we'd spend the night dressed sharply drinking tea and sharing stories. Kendall loved the idea and came up with a great name for the night, Tea Time. I introduced the idea to the other UP Directors and got an enthusiastic response from them. With that, Kendall and I met with Nick Christy to start finalizing dates.<br/><br/>
      Unfortunately, nearly every date was taken or had some major conflict. All that was remaining was the last day of classes, and another club had been eyeing that. However, as chance would have it, the club looking at that date was the Cheese Club, and I happened to be good friends with their president, Matthew Riel, as well as a few other members of their board. Suarez and I had interviewed Riel on our podcast a few days earlier. This part, still shocks me. As we're discussing a possible partnership with Cheese Club, Riel walks right past Nick Christy's office. I pop out of my seat and track him down. Within minutes, our partnership is formal. Now we were ready to start.<br/><br/>
      Cheese Club is well-known at Lehigh for throwing formal cheese tasting events. They strike deals with catering to get special cheese and then invite the entire campus to try them. Riel told me in our first meeting that their most recent event had pulled in 200 people. Immediately, I started thinking about the scale of this event. With this partnership, we could plan for huge numbers. So the first thing we agreed to book was the Asa Packer room. Located on the third floor of the University Center, this was one of the most luxurious places on Lehigh's campus, perfect for our event. Our meeting with Riel ended with a fundraising plan. All in all, we were hoping to put $5700 towards this event, no small feat.<br/><br/>
      Kendall and I took on the larger administrators, the President and Provost Office, as well as the Director of Auxillary Services, David Joseph. After going through the offices, we were making good progress towards our goal. Then we went into Mr Joseph's office. He seeemed to immediately like our idea. He told us to think big and then gave us the largest donation of the project. With his encouragement, we decided to partner with the Student Senate on campus.<br/><br/>
      Senate is designed to incorporate all constitutencies. By partnering with them, our event would change from being a tea party, to a holiday party for all. This once again scaled our event considerably. We had to now move from planning for one large room to two. I booked the room adjacent to the Asa Packer room and called for all of our partners to come together. In the room was Riel, Kendall, Courteney Parry––chairwoman of Senate's Diversity & Inclusion Commitee––, and her entire committee. With more people working on this, we began really getting great ideas. In addition to having hors d'ouevres and cheeses at the event, we decided to have a cookie decorating table, a make your own holiday card table, and lots and lots of hot chocolate. In total, we ordered 16 gallons of it, with $200 worth of toppings! We had our idea, the last piece was advertising.<br/><br/>
      This was the biggest way our event could fail. I trusted we had assembled a great team, the question was could we get enough of the public to know about this event and want to come. Like I said before, there were more than just one event going on that night. Greek Life on campus had their formals scheduled for later that night, the orchestra on campus was performing, and the choir had a concert. We had to advertise a lot to compete. My good friend Madie Schulte made us a gorgeous poster, and we plastered that poster all over campus. We got lawn signs, and posted all over social media.
      <center><img src = "/images/holidaySoiree/sign.jpg" /></center><br/><br/>
      I won't keep you in suspense. The event was an enormous success! We had far greater than 250 people show up, all in formal attire and enjoy the party. Many people came up to me and told me we had to do this event next year. Almost no one could believe how much we had managed to put together! Both rooms were packed virtually the entire night. A new club, Chocolate Club, provided candies for the night, and they got an enormous surge in new members! Kendall and I knew we had created the ThirdSpace we had wanted to.<br/><br/>
      In closing, I would like to thank all of the people who made that night possible. It was the kind of event that is only possible when many talented people work together!<br/><br/>
      Onwards & Upwards
    </p>
  </div>

    <% include ../partials/footer.ejs%>


</body>
