<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144941895-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-144941895-1');
</script>
<script data-ad-client="ca-pub-1566249122256303" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<title>Matthew Gunton</title>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
<meta property=og:image:width>
<meta property=og:image:height>
<meta property="og:site_name" content="Matthew Gunton"/>
<meta property="og:title" content="Matthew Gunton" />
<meta property="og:image" content="https://maurelius.com/images/bg4.png" />
<meta property=og:description content="My media, and past projects. All in one place. Onwards & Upwards!">
<meta name=description content="My media, and past projects. All in one place. Onwards & Upwards!">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="My name is Matthew Gunton, and I am a Computer Science and Business student at Lehigh University. Previously I went to the Lawrenceville School where I graduated Cum Laude. I enjoy writing programs that make tedious tasks faster and even more enjoyable. I know HTML, CSS, Javascript, Node.JS, MongoDB, React, React Native, and Alexa. Onwards & Upwards!" />
<meta name="keywords" content="Matthew Gunton, Gunton, Matthew, Lehigh University, Lawrenceville, Lawrenceville School, iOS, Eye Remember, Reshwap, You Choose, Alexa, Computer Science and Business, Onwards & Upwards, Onwards, Upwards" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=twitter:image content="https://maurelius.com/images/bg4.jpg" />
<meta name=twitter:description value="My media, and past projects. All in one place. Onwards & Upwards!">
<meta property=og:title content="Matthew Gunton">
<meta name=twitter:title value="Matthew Gunton">
<meta name=twitter:card content=summary_large_image>
<meta name=twitter:domain value=maurelius.com>
<meta name=twitter:site content=@matthewjgunton>
<meta name=twitter:creator content=@matthewjgunton>
<meta name=twitter:url value=http://www.maurelius.com>
<meta name=twitter:label1 value="Onwards & Upwards!">
<meta name=twitter:data1 value=me@maurelius.com>
<link rel="apple-touch-icon-precomposed" href="/favicon.png"></link>
<link rel="shortcut icon" href="/favicon.png"></link>
<link rel=mask-icon href="/favicon.png" color=#000000>
<link rel="icon" href="/favicon.png"></link>
<link rel=icon type=image/png sizes=32x32 href="/favicon.png">
<link rel=icon type=image/png sizes=16x16 href="/favicon.png">
<meta name=msapplication-TileColor content=#ffffff>
<meta name=msapplication-config content="/favicon.png">
<meta name=theme-color content=#1c1c1d>
