<div id = "splash">
  <div id = 'text'>
    <h1 class='fadein'>Media</h1>
      <p class="fadein2">My friends and I love creating. Here's what we have made and what people have written about us</p>
      <div id = 'links'>
        <a class="fadein3" href = "/media/1">1</a>
        <a class="fadein3" href = "/media/2">2</a>
        <a class="fadein3" href = "/media/3">3</a>
        <a class="fadein3" href = "/media/4">4</a>
      </div>
    </div>
</div>
