<div id = "navbar">
  <a data-aos="fade-up" data-aos-delay="50" href = "/">Home</a>
  <a data-aos="fade-up" data-aos-delay="70" href = "/blog">Blog</a>
  <a data-aos="fade-up" data-aos-delay="150" href = "/projects">Projects</a>
  <a data-aos="fade-up" data-aos-delay="330" href = "/media">Media</a>
</div>
