<div>

  <!--only when we want to look back do we show more than one day-->

  <table>
    <tr>
      <th>TODO:</th>
    </tr>
    <tr>
      <th>{{svrData.date[3]}}</th>
    </tr>
    <tr ng-repeat="entry in svrData.hwData" class = "{{entry.isCompleted}}">

      <td><b>{{entry.assignmentName}}</b></td>
      <!--how should we use subject? right now it's only an id, which is bothering me a bit-->
      <td>{{entry.subject}}</td>
      <td>Due: {{entry.monthDue}}/{{entry.dayDue}}</td>
      <td><input ng-model="checked" ng-init="checked=entry.isCompleted" ng-click = "completed(entry._id)" type = "checkbox"></input></td>

    </tr>
    <!--Empty Handler-->
    <tr ng-if= "svrData.hwData.length == 0">
      <td>You've finished your current tasks!</td>
      <td>Begin Something New</td>
    </tr>
  </table>

  <!--this is reserved for adding hw-->
  <div ng-if="addNewEvent">
    <button ng-click = "newEvent('hw', false)">X</button>
    <form>

      <select ng-model="subject" data-ng-options="subject.subject for subject in svrData.subjects"></select>
      <input type = "text" ng-model="hwName" placeholder = "HW Name"></input>
      <input type = "number" ng-model = "month"></input>/
      <input type = "number" ng-model = "date"></input>
      <button ng-click="newEntry(subject, hwName, month, date)">Add</button>
    </form>
  </div>
  <button ng-if = "!addNewEvent" ng-click= "newEvent('hw', true)">+</button>


  <!--adding a subject-->
  <div ng-if="addNewSubject">
    <button ng-click = "newEvent('subject', false)">X</button>
    <input type = "text" ng-model = "subject" placeholder = "subject name"></input>
    <button ng-click = "newSubject(subject)">Submit</button>
    <!-- <button ng-if= "!deleteSubjectActive">Delete Subject</button> -->
  </div>
  <button ng-if = "!addNewSubject" ng-click= "newEvent('subject', true)">Add New Subject</button>


  <!--deleting a subject-->
  <div ng-if="deleteSubjectActive">
    <button ng-repeat="subject in svrData.subjects" ng-click = "deleteSubject(subject._id)">{{subject.subject}}</button>
  </div>
  <button ng-click= "showDeleteSubject(deleteSubjectActive)">Delete Subject</button>

</div>
