<!DOCTYPE html>
<html>

<head>

  <% include ./partials/header.ejs %>

  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/blog/entry.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div id = "navbar">
    <a data-aos="fade-up" data-aos-delay="50" href = "/">Home</a>
    <a data-aos="fade-up" data-aos-delay="70" href = "/blog">Blog</a>
    <a data-aos="fade-up" data-aos-delay="150" href = "/projects">Projects</a>
    <a data-aos="fade-up" data-aos-delay="330" href = "/media">Media</a>
  </div>

  <div id = "splash">
    <div id = 'text'>
      <h1 class='fadein'>Blog</h1>
        <p class = "fadein2">New Content Every Month</p>
        <p class="fadein3">I write about changes in tech, business, current events, and my experiences.</p>
      </div>
  </div>

  <div class = 'blog-article'>
    <a href = "/blog/3"><div class = 'left'>
      <h1>Redoing the Social Media Risk-Benefit Analysis</h1>
      <h4>August 15th, 2019</h4>
    </div>
    <div class = 'right'>
      <span>If you grew up at all like me, you had multiple assemblies where well-meaning adults would warn you of the perils of social media...</span>
    </div></a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "/blog/2"><div class = 'left'>
      <h1>Setting up a Simple Node.JS Server</h1>
      <h4>July 31st, 2019</h4>
    </div>
    <div class = 'right'>
      <span>So you know enough Javascript to create a dynamic front-end, but now you want to try your hand at creating a backend...</span>
    </div></a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "/blog/1"><div class = 'left'>
      <h1>Thoughts from VOICE Summit: Voice Apps and the New Power of Personas</h1>
      <h4>July 19th, 2019</h4>
    </div>
    <div class = 'right'>
      <span>Effectively, you’re creating the perfect spokesperson. They’re always on message, never do anything stupid, and say ...</span>
    </div></a>
  </div>

  <br/>
  <br/>

  <!-- <div class = 'blog-article'>
    <a href = "/blog/1"><div class = 'left'>
      <h1>Title</h1>
      <h4>Date</h4>
    </div>
    <div class = 'right'>
      <span>The first few sentences of my blog post...</span>
    </div></a>
  </div>
  <br/>
  <br/>
  -->

  <% include ./partials/footer.ejs %>


</body>

</html>
