<!DOCTYPE html>
<html>

<head>
  <title>Matthew Gunton</title>
  <meta property="og:title" content="Matthew Gunton" />
  <meta property="og:image" content="https://maurelius.com/bg4.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="My name is Matthew Gunton, and I am a Computer Science and Business student at Lehigh University. Previously I went to the Lawrenceville School where I graduated Cum Laude. I enjoy writing programs that make tedious tasks faster and even more enjoyable. I know HTML, CSS, Javascript, Node.JS, MongoDB, React, React Native, and Alexa." />
  <meta name="keywords" content="Matthew Gunton, Gunton, Matthew, Lehigh University, Lawrenceville, Lawrenceville School, iOS, Eye Remember, Reshwap, You Choose, Alexa, Computer Science and Business, Volta" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/blog/entry.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href = "/css/eyeRemember/table.css" rel = "stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div id = "navbar">
    <span data-aos="fade-up" data-aos-delay="50">EyeRemember</span>
  </div>

  <center><table>
    <% if (data.length == 0){ %>
      <tr>
        <td>This Is Where You Can Show Your Doctor How Good You've Been About Treating</td>
      </tr>
    <% } %>
    <% for(var i = 0; i < data.length; i++){%>
      <tr>
        <td><%=time(data[i].remindAt)%> Reminder to <%=verb(data[i].boolPatch)%></td>
        <td><%=data[i].taken%></td>
      </tr>
    <% } %>
  </table></center>

  <% function time(remindAt) {
    let wholeDate = new Date(remindAt);
    let day = wholeDate.toString().substring(0,15);
    let maybemilitaryTime = wholeDate.toString().substring(16,21);
    let hours = parseInt(maybemilitaryTime.substring(0,2));
    let minutes = maybemilitaryTime.substring(3,5);
    let suffix = "AM";
    if( hours > 12){
      hours -= 12;
      suffix = "PM";
    }
    return (day+" "+hours+":"+minutes+' '+suffix);
  } %>

  <% function verb(boolPatch) {
        return boolPatch ? ("patch") : ("take your drops");
  } %>


    <script>
      AOS.init();
    </script>

</body>

</html>
