<html>

<head>

  <% include ./partials/mattHead.ejs %>
  <link rel = "stylesheet" href = "/home.css"></link>
  <script src="/packery.js"></script>
</head>

<body>

  <div class="bgimg-1">

    <div class="caption">
      <span class="border" id = "welcome">Hello, World</span>
      <div id = "first">
      <br>
        <span class = 'border'>Scroll Down</span>
      </div>
    </div>
  </div>

  <div id = "AboutMe" style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">About Me</h3>
    <p>Matthew <a href = "/auth/google">J</a> Gunton is a freshmen at Lehigh University and enrolled in the Computer Science and Business program. Previously he attended the Lawrenceville School where he graduated Cum Laude. Matthew enjoys writing programs that make boring tasks faster. He is proficient in Node.JS, HTML, CSS, MongoDB and JavaScript. He is now beginning to work with React and React-Native.</p>
    </div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#777;background-color:#white;text-align:center;padding:50px 80px;text-align: justify;">
      <div id = 'projects' class="slideshow-container">

        <h1>Projects</h1>

          <div class="mySlides">

            <a href = "https://reshwap.com"><img width = "50%"src = "/reshwap.png"></img><br></a>
            <p>This was Gunton's first major backend project. The idea was to set up a marketplace where students who went to his high school could find books. Having been recruited by fellow classmate Max Drojjin, Gunton completely redesigned the backend. The goal was to be efficient when using images, and to create a powerful security system that could protect all the new information. Along with Eric Cheng, The program was widely deployed at the Lawrenceville School. Selling Reshwap t-shirts, integration with other clubs, and public contests helped keep everyone engaged with the system. When Gunton graduated and handed off the system to the next generation of developers, the site had far-surpassed the previous largest number of items for sale on the site.</p>
          </div>

          <div class="mySlides">

            <a href = "https://lawrenceville.org"><img width = "10%" src = "/merge.png"></img></a>
            <p>Working alongside Cheng and Jack Chau, Gunton created the brain for online Harkness learning. The project was enormously ambitious. Students at his high school have graded discussions in their English courses, and Gunton wanted to create a way to not only to keep track of who said what, but also let students and teachers track their progress in discussion. To do so, the backend was composed largely of customizable features . For instance, one teacher might decide that she wants to track the quality of questions raised by students in discusison, while another may decide he wants to see who really analyzed the text in the novels. This project required Gunton to focus on creating a powerful, yet intuitive. The project was being tested in classrooms when Gunton graduated. It is now being incorporated into the Sentinel Project.</p>

          </div>

          <div class="mySlides">

            <a href = "https://sentinel.lawrenceville.org"><img width = "100%" src = "/sentinel.png"></img></a>
            <p>Working for the Lawrenceville School, Gunton helped significantly upgrade the Sentinel Program. Originally built by Dr Keith Voss, Sentinel helps the boarding school keep track of their students when they decide to go off campus. Gunton spent 10 weeks working intensely on the project, with most of his energy focused on creating a new User Interface for the program. In addition, many other key features where created or planned during this time such as "Fast Out"––a way for students' defaults to be saved––as well as creating the framework for a settings page that allows students to personalize and thus make Sentinel work better for them.</p>

          </div>

          <div class="mySlides">

            <a href = "https://eyecareforchildren.com/"><img width = '50%' src = "https://eyecareforchildren.com/mainMomLogo.png"></img></a>
            <p>After Gunton was made webmaster for a physician practice, he went about recreating their website so it would be easier to use. The design should be minimal and user-friendly, so patients and their parents feel completely comfortable using the site. To go beyond simply adding a better layer of paint to the website, Gunton also utlized the Google Maps API to allow patients to see which office location works best for them.</p>

          </div>

          <div class="mySlides">

            <img width = "100%"src = "/fredImg2.png"></img><br>
            <p>This was a project Gunton put together to simply make life easier. Gunton's dog often tries to deceive his owners by pretending he hasn't eaten. This behavior helps him get fed many times. While he may have enjoyed this, the family noticed that he was beginning to gain weight. To help solve the problem, Gunton built a program to keep track of how many times a day Fred had been fed. Once the infrastructure was set up, Gunton really started to run with it. He used the local server to display the family's daily calendar using Google's API, and he created a system where the family can send reminders and announcements to the entire house at once. Unfortunately because this is a local server, it is not accessible to the public.</p>

          </div>

          <!-- <div class="mySlides">

            <a href = "http://sentinel.lawrenceville.org/"><img width = '50%' src = "/gSurvey.jpg"></img></a>
            <p>Working as the academic representative for his dorm at Lawrenceville, Gunton created a survey to better rank the course students could take in the mathematics department. With a focus on how students will feel in the course, the survey was the first time the school ever published a full-diagnostics report for their classes. All this information was collected via the website Gunton programmed and distributed through Sentinel.</p>

          </div> -->

      </div>

      <br>

      <div style="text-align:center">
        <span class="dot" onclick="lookat(1)"></span>
        <span class="dot" onclick="lookat(2)"></span>
        <span class="dot" onclick="lookat(3)"></span>
        <span class="dot" onclick="lookat(4)"></span>
        <span class="dot" onclick="lookat(5)"></span>
        <!-- <span class="dot" onclick="currentSlide(6)"></span> -->

      </div>
    </div>
  </div>

  <div id = "Skills" class="captionNew"style="position:relative;padding:100px 10px;">

      <h2 class="border" style="font-size:25px;color: #f7f7f7;">Skills:</h2>
        <p class="border" style="font-size:25px;color: #f7f7f7;">
          <div class = "grid">
            <ul>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/html.png" /></div></li>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/css.png" /></div></li>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/js.png" /></div></li>
              <li><div class = 'grid-item'><img width = "300px" height = "200px" src = "/nodejs.png" /></div></li>
              <li><div class = 'grid-item'><img width = "300px" height = "200px" src = "/git.png" /></div></li>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/cmdln.png" /></div></li>
            </ul>
          </div>

        </p>
  </div>

  <div style="position:relative;">
    <div style="color:#777;background-color:#white;text-align:center;padding:50px 80px;text-align: justify;">
      <div id = 'testimonials' class="slideshow-container">

        <h1>Testimonials</h1>

          <div class="mySlidesNew">

            <a href = "https://www.valuationresearch.com/"><img width = "50%"src = "/vrc.jpg"></img><br></a>
            <p>"During his time at VRC’s Summer Internship program, Matthew demonstrated a sharp mind and strong work ethic. Matthew navigated well through the program despite large volumes of new information and complex problem solving challenges. Matthew would be perfect for a leadership position given his high level of motivation, positive attitude and natural ability to direct a group and we wish him the best of luck in future endeavors."</p>
            <h4 style = "text-align:right">-Mike Murphy</h4>
          </div>

          <div class="mySlidesNew">

            <a href = "https://www.willseye.org/"><img width = "20%"src = "/weh.png"></img><br></a>
            <p>"Matthew was a delight to have on our service. He brought a unique perspective with his inquiring mind about the role of computer technology in the diagnosis of genetic disease. He clearly sees the potential for using artificial intelligence to shed more light in this complex area of medicine"</p>
            <h4 style = "text-align:right">-Dr Alex V Levin</h4>
          </div>


          <br>

          <div style="text-align:center">
            <span class="dotNew" onclick="lookatNew(1)"></span>
            <span class="dotNew" onclick="lookatNew(2)"></span>

            <!-- <span class="dot" onclick="currentSlide(6)"></span> -->

          </div>
        </div>
      </div>

  <div style="position:relative;">
    <div id = "Contact" style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <h2>Contact</h2>
      <p>Feel free to reach out with anything cool you might want to do or create <a href = "mailto:me@maurelius.com">me@maurelius.com</a></p>
    </div>
  </div>

  <div class="bgimg-4">
    <div id = "Resume" class="caption">
      <span class="border"><a href = "/resume.pdf">View Resume</a></span>
    </div>
  </div>


</body>

<% include ./partials/bottom.ejs %>

<script>
//languages is just helpful for me to know which ones are in
var languages = ['chinese', 'english', 'spanish', 'french', 'arabic', 'hindi', 'punjabi', "german"];
var welcomes = ["欢迎", "Welcome", "Bienvenido", "Bienvenue", "أهلا بك", "स्वागत हे", "ਸੁਆਗਤ ਹੈ", "Willkommen"];
var m = 0;
$(document).ready(function(){
  var first = 0;
  $("#first").toggle();
    setInterval(function(){
      sayWelcome(m);
      m++;

      if(first == 0){
        scrollReminder();
      }
      if(first == 1){
        scrollReminderRemove();
      }
      first++;
      if(m == languages.length){
        m = 0;
      }
    }, 3000);

})

function scrollReminder(){
  $("#first").fadeIn();
}

function scrollReminderRemove(){
  $("#first").fadeOut();
}

function sayWelcome(whichLanguage){

  var welcome = welcomes[whichLanguage];
  $("#welcome").fadeOut();
  setTimeout(function(){
    $("#welcome").text(welcome);
    $("#welcome").fadeIn();
  }, 1000);


}

//functions for sliding between images & such:
function unify(e) { return e.changedTouches ? e.changedTouches[0] : e };
let x0 = null;

function lock(e) { x0 = unify(e).clientX };

function move(e) {
  if(x0 || x0 === 0) {
    let dx = unify(e).clientX - x0;
    let s = Math.sign(dx);

    if(s > 0 && slideIndex > 1){
      showSlides(--slideIndex);
    }
    if(s<0 && slideIndex < 5){
      showSlides(++slideIndex);
    }



    x0 = null;
  }
};

document.getElementById("projects").addEventListener('mousedown', lock, false);
document.getElementById("projects").addEventListener('touchstart', lock, false);

document.getElementById("projects").addEventListener('mouseup', move, false);
document.getElementById("projects").addEventListener('touchend', move, false);

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {

  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

function lookat(i){
  $('html,body').animate({
        scrollTop: $("#projects").offset().top},
        'slow');

  currentSlide(i);
}

function scrollTo(id){
  $('html,body').animate({
        scrollTop: $("#"+id).offset().top},
        'slow');
}

// vanilla JS
var grid = document.querySelector('.grid');
// initialize with element
var pckry = new Packery( grid, {
  gutter: 10,
  itemSelector: '.grid-item'
});


//testimonials

var slideIndexNew = 1;

function moveNew(e) {
  if(x0 || x0 === 0) {
    let dx = unify(e).clientX - x0;
    let s = Math.sign(dx);

    if(s > 0 && slideIndexNew > 1){
      showSlidesNew(--slideIndexNew);
    }
    if(s < 0 && slideIndexNew < 2){
      showSlidesNew(++slideIndexNew);
    }

    x0 = null;
  }
};

document.getElementById("testimonials").addEventListener('mousedown', lock, false);
document.getElementById("testimonials").addEventListener('touchstart', lock, false);

document.getElementById("testimonials").addEventListener('mouseup', moveNew, false);
document.getElementById("testimonials").addEventListener('touchend', moveNew, false);


showSlidesNew(slideIndexNew);

function plusSlidesNew(n) {
  showSlidesNew(slideIndexNew += n);
}

function currentSlideNew(n) {
  showSlidesNew(slideIndexNew = n);
}

function showSlidesNew(n) {
  console.log('reached');

  var i;
  var slides = document.getElementsByClassName("mySlidesNew");
  var dots = document.getElementsByClassName("dotNew");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndexNew = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndexNew-1].style.display = "block";
  dots[slideIndexNew-1].className += " active";
}

function lookatNew(i){
  console.log('found');
  $('html,body').animate({
        scrollTop: $("#testimonials").offset().top},
        'slow');

  currentSlideNew(i);
}

function scrollToNew(id){
  $('html,body').animate({
        scrollTop: $("#"+id).offset().top},
        'slow');
}



</script>

</html>
