<html>

<head>

  <% include ./partials/mattHead.ejs %>
  <link rel = "stylesheet" href = "/home.css"></link>
  <script src="/packery.js"></script>
</head>

<body>

  <div class="bgimg-1">

    <div class="caption">
      <span hidden class="border" id = "welcome">Hello, World</span>
      <div hidden id = "first">
      <br>
        <span class = 'border'>Scroll Down</span>
      </div>
    </div>
  </div>

  <div id = "AboutMe" style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">About Me</h3>
    <p>My name is Matthew <a href = "/auth/google">J</a> Gunton, and I am a freshmen Computer Science and Business student at Lehigh University. Previously I went to the Lawrenceville School where I graduated Cum Laude. I enjoy writing programs that make boring tasks faster. I am proficient in Node.JS, HTML, CSS, MongoDB, React, and JavaScript 6. I look forward to beginning my winter internship at Imbrex.</p>
    </div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#777;background-color:#white;text-align:center;padding:50px 80px;text-align: justify;">
      <div id = 'projects' class="slideshow-container">

        <h1>Projects</h1>

          <div class="mySlides">

            <a href = "https://reshwap.com"><img width = "50%"src = "/reshwap.png"></img><br></a>
            <p>This was my first major backend project. The idea was to set up a marketplace where students who went to Lawrenceville could find books. After Max Drojjin asked me to join, I completely redesigned the backend. The goal was to be efficient when using images, and to create a powerful security system that could protect all the new information. Reshwap would go on to be widely deployed at the Lawrenceville School. Selling Reshwap t-shirts, integration with other clubs, and public contests helped keep everyone engaged with the system. When I graduated and handed off the system to the next generation of developers, we had far-surpassed the previous largest number of items for sale on the site.</p>
          </div>

          <div class="mySlides">

            <a href = "https://lawrenceville.org"><img width = "10%" src = "/merge.png"></img></a>
            <p>Working alongside Eric Cheng and Jack Chau, I created the brain for online Harkness learning. The project was enormously ambitious. Students at Lawrenceville have graded discussions in their English courses, and I wanted to create a way to not only to keep track of who said what, but also create an interface so the collection of the data could be useful. To do so, I had to create enough personalization options so every teacher could find a use for it. For instance, one teacher might decide that she wants to track the quality of questions raised by students in discusison, while another may decide he wants to see who really analyzed the text in the novels. This project required me to focus on making all functions very adaptable. The project was being tested in classrooms when I graduated. It is now being incorporated into the Sentinel Project.</p>

          </div>

          <div class="mySlides">

            <a href = "https://sentinel.lawrenceville.org"><img width = "100%" src = "/sentinel.png"></img></a>
            <p>Working for the Lawrenceville School, I helped significantly upgrade the Sentinel Program. Originally built by Dr Keith Voss, Sentinel helps Lawrenceville keep track of their students after class hours. I spent 10 weeks working intensely on the project, with most of my energy focused on creating a new user interface for the program. In addition, many other key features were created or planned during this time such as "Fast Out"––a way for students' preferences to be saved––as well as creating the framework for a settings page that allows students to personalize and thus make Sentinel work better for them. Gunton used the infrastructure he helped build to publish a survey observing difficulty in classes. Given his knowledge of the system, the server handled 200 people at once.</p>

          </div>

          <div class="mySlides">

            <a href = "https://eyecareforchildren.com/"><img width = '50%' src = "https://eyecareforchildren.com/mainMomLogo.png"></img></a>
            <p>When my mother asked me to help manage her website, I took it as an opportunity to experiment with bootstrap. Keeping the design simple, so patients didn't have to worry about navigating the website, I focused on developing my boostrap skills. Specifically, one can see how the navbar is very easy to use and looks great on all screens.</p>

          </div>

          <div class="mySlides">

            <img width = "100%"src = "/fredImg2.png"></img><br>
            <p>My dog likes to eat and often times will try to fool my family into feeding him multiple dinners. After this began to negativly affect my dog's health, I created an application to help my family keep track of who fed my dog. Once the project was in place, I would work on it every break to make it more useful. I programmed a way to keep track of who was feeding Fred. That way, whenever no one wanted to take him for a walk, we could use data to decide. The project is local to keep it low cost. It runs off a raspberry pi.</p>

          </div>

      </div>

      <br>

      <div style="text-align:center">
        <span class="dot" onclick="lookat(1)"></span>
        <span class="dot" onclick="lookat(2)"></span>
        <span class="dot" onclick="lookat(3)"></span>
        <span class="dot" onclick="lookat(4)"></span>
        <span class="dot" onclick="lookat(5)"></span>
        <!-- <span class="dot" onclick="currentSlide(6)"></span> -->

      </div>
    </div>
  </div>

  <div id = "Skills" class="captionNew"style="position:relative;padding:100px 10px;">

      <h2 class="border" style="font-size:25px;color: #f7f7f7;">Skills:</h2>
        <p class="border" style="font-size:25px;color: #f7f7f7;">
          <div class = "grid">
            <ul>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/html.png" /></div></li>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/css.png" /></div></li>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/js.png" /></div></li>
              <li><div class = 'grid-item'><img width = "300px" height = "200px" src = "/nodejs.png" /></div></li>
              <li><div class = 'grid-item'><img width = "300px" height = "200px" src = "/git.png" /></div></li>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/cmdln.png" /></div></li>
            </ul>
          </div>

        </p>
  </div>

  <div style="position:relative;">
    <div style="color:#777;background-color:#white;text-align:center;padding:50px 80px;text-align: justify;">
      <div id = 'testimonials' class="slideshow-container">

        <h1>Testimonials</h1>

          <div class="mySlidesNew">

            <a href = "https://www.valuationresearch.com/"><img width = "50%"src = "/vrc.jpg"></img><br></a>
            <p>"During his time at VRC’s Summer Internship program, Matthew demonstrated a sharp mind and strong work ethic. Matthew navigated well through the program despite large volumes of new information and complex problem solving challenges. Matthew would be perfect for a leadership position given his high level of motivation, positive attitude and natural ability to direct a group and we wish him the best of luck in future endeavors."</p>
            <h4 style = "text-align:right">-Mike Murphy & Sean Woodward</h4>
          </div>

          <div class="mySlidesNew">

            <a href = "https://www.willseye.org/"><img width = "20%"src = "/weh.png"></img><br></a>
            <p>"Matthew was a delight to have on our service. He brought a unique perspective with his inquiring mind about the role of computer technology in the diagnosis of genetic disease. He clearly sees the potential for using artificial intelligence to shed more light in this complex area of medicine"</p>
            <h4 style = "text-align:right">-Dr. Alex V Levin</h4>
          </div>


          <br>

          <div style="text-align:center">
            <span class="dotNew" onclick="lookatNew(1)"></span>
            <span class="dotNew" onclick="lookatNew(2)"></span>

            <!-- <span class="dot" onclick="currentSlide(6)"></span> -->

          </div>
        </div>
      </div>

  <div style="position:relative;">
    <div id = "Contact" style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <h2>Contact</h2>
      <p>Feel free to reach out with anything cool you might want to do or create <a href = "mailto:me@maurelius.com">me@maurelius.com</a></p>
    </div>
  </div>

  <div class="bgimg-4">
    <div id = "Resume" class="caption">
      <span class="border"><a href = "/resume.pdf">View Resume</a></span>
    </div>
  </div>


</body>

<% include ./partials/bottom.ejs %>

<script>

$(document).ready(function(){


  $("#welcome").text("Hello World");
  setTimeout(()=>{
      $("#welcome").fadeIn();
  }, 500);


  setTimeout(()=>{
    console.log('executed');
    $("#welcome").fadeOut();
  }, 3000);

  setTimeout(()=>{
    $("#first").fadeIn();
  }, 4000)

  setTimeout(()=> {
    $("#first").fadeOut();
  }, 2*3000)

})


//functions for sliding between images & such:
function unify(e) { return e.changedTouches ? e.changedTouches[0] : e };
let x0 = null;

function lock(e) { x0 = unify(e).clientX };

function move(e) {
  if(x0 || x0 === 0) {
    let dx = unify(e).clientX - x0;
    let s = Math.sign(dx);

    if(s > 0 && slideIndex > 1){
      showSlides(--slideIndex);
    }
    if(s<0 && slideIndex < 5){
      showSlides(++slideIndex);
    }



    x0 = null;
  }
};

document.getElementById("projects").addEventListener('mousedown', lock, false);
document.getElementById("projects").addEventListener('touchstart', lock, false);

document.getElementById("projects").addEventListener('mouseup', move, false);
document.getElementById("projects").addEventListener('touchend', move, false);

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {

  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

function lookat(i){
  $('html,body').animate({
        scrollTop: $("#projects").offset().top},
        'slow');

  currentSlide(i);
}

function scrollTo(id){
  $('html,body').animate({
        scrollTop: $("#"+id).offset().top},
        'slow');
}

// vanilla JS
var grid = document.querySelector('.grid');
// initialize with element
var pckry = new Packery( grid, {
  gutter: 10,
  itemSelector: '.grid-item'
});


//testimonials

var slideIndexNew = 1;

function moveNew(e) {
  if(x0 || x0 === 0) {
    let dx = unify(e).clientX - x0;
    let s = Math.sign(dx);

    if(s > 0 && slideIndexNew > 1){
      showSlidesNew(--slideIndexNew);
    }
    if(s < 0 && slideIndexNew < 2){
      showSlidesNew(++slideIndexNew);
    }

    x0 = null;
  }
};

document.getElementById("testimonials").addEventListener('mousedown', lock, false);
document.getElementById("testimonials").addEventListener('touchstart', lock, false);

document.getElementById("testimonials").addEventListener('mouseup', moveNew, false);
document.getElementById("testimonials").addEventListener('touchend', moveNew, false);


showSlidesNew(slideIndexNew);

function plusSlidesNew(n) {
  showSlidesNew(slideIndexNew += n);
}

function currentSlideNew(n) {
  showSlidesNew(slideIndexNew = n);
}

function showSlidesNew(n) {

  var i;
  var slides = document.getElementsByClassName("mySlidesNew");
  var dots = document.getElementsByClassName("dotNew");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndexNew = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndexNew-1].style.display = "block";
  dots[slideIndexNew-1].className += " active";
}

function lookatNew(i){
  console.log('found');
  $('html,body').animate({
        scrollTop: $("#testimonials").offset().top},
        'slow');

  currentSlideNew(i);
}

function scrollToNew(id){
  $('html,body').animate({
        scrollTop: $("#"+id).offset().top},
        'slow');
}



</script>

</html>
