<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs%>
  <link href = "/css/common.css" rel ="stylesheet" />
  <link href = "/css/landing.css" rel="stylesheet" />
  <link href = "/css/bg.css" rel="stylesheet" />
  <link href = "/css/bio.css" rel="stylesheet" />
  <link href = "/css/testimonials.css" rel="stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div id = "splash">
    <div id = 'text'>
      <h1 class='fadein' style = "cursor:pointer" onclick="window.location.href = '/rabbit'">Enter the Egg Hunt</h1>
      <h3 class="fadein2">Hello, World</h3>
      <div id = 'links'>
        <a class="fadein3" href = "/blog">Blog</a>
        <a class="fadein4" href = "/projects">Projects</a>
        <a class="fadein5" href = "/media">Media</a>
      </div>
    </div>
  </div>

  <div class = "bgimg-2">
  </div>

  <div id = "bio">
    <div data-aos="fade-right" id = "descrip">
      <p>Hello, my name is Matthew Gunton, and I am a Computer Science and Business student at Lehigh University. Previously I went to the Lawrenceville School where I graduated Cum Laude. I enjoy writing programs that make tedious tasks faster and more enjoyable. I know HTML, CSS, Javascript, Node.JS, MongoDB, React, React Native, and Alexa.</p>
    </div>
    <div data-aos="fade-right" id = "signature"></div>

  </div>

  <div data-aos="fade-right"  id = 'testimonials' class="slideshow-container">

    <div class="mySlidesNew">

      <center><a href = "https://imbrex.io/"><img width = "30%"src = "/images/imbrex2.png"></img><br></a></center>
      <p>"At imbrex, Matthew contributed to the successful launch of our beta application, balancing time in between writing frontend code and exploring new backend frameworks like Sails.js. Matthew has a deep understanding of technology and a keen eagerness to learn. It was a pleasure working with Matthew, he is welcome back to imbrex anytime!"</p>
      <h4 style = "text-align:right">-Stephen King</h4>
    </div>

      <div class="mySlidesNew">

        <center><a href = "https://www.valuationresearch.com/"><img width = "50%"src = "/images/vrc.png"></img><br></a></center>
        <p>"During his time at VRC’s Summer Internship program, Matthew demonstrated a sharp mind and strong work ethic. Matthew navigated well through the program despite large volumes of new information and complex problem solving challenges. Matthew would be perfect for a leadership position given his high level of motivation, positive attitude and natural ability to direct a group and we wish him the best of luck in future endeavors."</p>
        <h4 style = "text-align:right">-Mike Murphy & Sean Woodward</h4>
      </div>

      <div class="mySlidesNew">

        <center><a href = "https://www.willseye.org/"><img width = "20%"src = "/images/weh.png"></img><br></a></center>
        <p>"Matthew was a delight to have on our service. He brought a unique perspective with his inquiring mind about the role of computer technology in the diagnosis of genetic disease. He clearly sees the potential for using artificial intelligence to shed more light in this complex area of medicine"</p>
        <h4 style = "text-align:right">-Dr. Alex V Levin</h4>
      </div>




      <br>

      <div style="text-align:center">
        <span class="dotNew" onclick="lookatNew(1)"></span>
        <span class="dotNew" onclick="lookatNew(2)"></span>
        <span class="dotNew" onclick="lookatNew(3)"></span>

        <!-- <span class="dot" onclick="currentSlide(6)"></span> -->

      </div>
  </div>



  <% include ./partials/footer.ejs %>

  <script src = "/vanillaJS/testimonials.js"></script>

</body>

</html>
