<!DOCTYPE html>
<html>

<head>
  <title>Matthew Gunton</title>
  <meta property="og:title" content="Matthew Gunton" />
  <meta property="og:image" content="https://maurelius.com/bg4.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="My name is Matthew Gunton, and I am a Computer Science and Business student at Lehigh University. Previously I went to the Lawrenceville School where I graduated Cum Laude. I enjoy writing programs that make tedious tasks faster and even more enjoyable. I know HTML, CSS, Javascript, Node.JS, MongoDB, React, React Native, and Alexa." />
  <meta name="keywords" content="Matthew Gunton, Gunton, Matthew, Lehigh University, Lawrenceville, Lawrenceville School, iOS, Eye Remember, Reshwap, You Choose, Alexa, Computer Science and Business, Volta" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel ="stylesheet" />
  <link href = "/css/landing.css" rel="stylesheet" />
  <link href = "/css/bg.css" rel="stylesheet" />
  <link href = "/css/bio.css" rel="stylesheet" />
  <link href = "/css/testimonials.css" rel="stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div id = "splash">
    <div id = 'text'>
      <h1 class='fadein'>Hello, World</h1>
      <h3 class="fadein2">My name is <br/>Matthew Gunton</h3>
      <div id = 'links'>
        <a class="fadein3" href = "/blog">Blog</a>
        <a class="fadein4" href = "/projects">Projects</a>
        <a class="fadein5" href = "/media">Media</a>
      </div>
    </div>
  </div>

  <div class = "bgimg-2">
  </div>

  <div id = "bio">
    <div data-aos="fade-right" id = "descrip">
      <p>Hello, my name is Matthew Gunton, and I am a Computer Science and Business student at Lehigh University. Previously I went to the Lawrenceville School where I graduated Cum Laude. I enjoy writing programs that make tedious tasks faster and more enjoyable. I know HTML, CSS, Javascript, Node.JS, MongoDB, React, React Native, and Alexa.</p>
    </div>
    <div data-aos="fade-right" id = "signature"></div>

  </div>

  <div data-aos="fade-right"  id = 'testimonials' class="slideshow-container">

    <div class="mySlidesNew">

      <center><a href = "https://imbrex.io/"><img width = "30%"src = "/imbrex2.png"></img><br></a></center>
      <p>"At imbrex, Matthew contributed to the successful launch of our beta application, balancing time in between writing frontend code and exploring new backend frameworks like Sails.js. Matthew has a deep understanding of technology and a keen eagerness to learn. It was a pleasure working with Matthew, he is welcome back to imbrex anytime!"</p>
      <h4 style = "text-align:right">-Stephen King</h4>
    </div>

      <div class="mySlidesNew">

        <center><a href = "https://www.valuationresearch.com/"><img width = "50%"src = "/vrc.png"></img><br></a></center>
        <p>"During his time at VRC’s Summer Internship program, Matthew demonstrated a sharp mind and strong work ethic. Matthew navigated well through the program despite large volumes of new information and complex problem solving challenges. Matthew would be perfect for a leadership position given his high level of motivation, positive attitude and natural ability to direct a group and we wish him the best of luck in future endeavors."</p>
        <h4 style = "text-align:right">-Mike Murphy & Sean Woodward</h4>
      </div>

      <div class="mySlidesNew">

        <center><a href = "https://www.willseye.org/"><img width = "20%"src = "/weh.png"></img><br></a></center>
        <p>"Matthew was a delight to have on our service. He brought a unique perspective with his inquiring mind about the role of computer technology in the diagnosis of genetic disease. He clearly sees the potential for using artificial intelligence to shed more light in this complex area of medicine"</p>
        <h4 style = "text-align:right">-Dr. Alex V Levin</h4>
      </div>




      <br>

      <div style="text-align:center">
        <span class="dotNew" onclick="lookatNew(1)"></span>
        <span class="dotNew" onclick="lookatNew(2)"></span>
        <span class="dotNew" onclick="lookatNew(3)"></span>

        <!-- <span class="dot" onclick="currentSlide(6)"></span> -->

      </div>
  </div>



  <div data-aos="fade-right"  id = "start">
    <center><h2>Let's Start Something</h2>
    <a href = "/resume.pdf">View My Resume</a></center>
    <div class="soc">

      <a href="https://github.com/matthewjgunton" class="icon github" title="GitHub">
        <svg viewBox="71 71 370 370">
          <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"/>
        </svg>
      </a>

      <a href="https://www.linkedin.com/in/matthewjgunton/" class="icon linkedin" title="LinkedIn">
        <svg viewBox="0 0 512 512">
          <path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"/>
        </svg>
      </a>

      <a href="mailto: me@maurelius.com" class="icon mail" title="Mail">
        <svg viewBox="0 0 24 24">
          <path d="M12 .02c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.99 6.98l-6.99 5.666-6.991-5.666h13.981zm.01 10h-14v-8.505l7 5.673 7-5.672v8.504z"/>
        </svg>
      </a>

    </div>
  </div>

  <script src = "/vanillaJS/testimonials.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>
