<html>

<head>

  <title>Matthew Gunton</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon-precomposed" href="/favicon.png"></link>
  <link rel="shortcut icon" href="/favicon.png"></link>
  <link rel="icon" href="/favicon.png"></link>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <meta property="og:title" content="Matthew Gunton" />
  <meta property="og:image" content="https://maurelius.com/bg4.png" />
  <link type="text/css" rel = "stylesheet" href = "/css/icons.css"></link>
  <link type="text/css" rel = "stylesheet" href = "/home.css"></link>
  <script src="/packery.js"></script>
</head>

<body>

  <div class="bgimg-1">

    <div class="caption">
      <span hidden class="border" id = "welcome">Hello, World</span>
      <div hidden id = "first">
      <br>
        <span class = 'border'>Scroll Down</span>
      </div>
    </div>
  </div>

  <div id = "AboutMe" style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">About Me</h3>
    <p>My name is Matthew <a href = "/auth/google">J</a> Gunton, and I am a freshmen Computer Science and Business student at Lehigh University. Previously I went to the Lawrenceville School where I graduated Cum Laude. I enjoy writing programs that make boring tasks faster. I am proficient in Node.JS, HTML, CSS, MongoDB, React, Javascript, and Typescript. In my freetime, I enjoy creating Alexa Skills. I'm looking forward to my summer internship at <a href = "https://www.sintan.com/">Sintan Inc.</a></p>
    </div>

  <div class="bgimg-2">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#777;background-color:#white;text-align:center;padding:50px 80px;text-align: justify;">
      <div id = 'projects' class="slideshow-container">

        <h1>Projects</h1>

        <div class="mySlides">

          <center><a href = "https://www.amazon.com/s?k=gunton&i=alexa-skills&ref=nb_sb_noss_2"><img width = "30%"src = "/alexa.jpg"></img></a><br></center>
          <p>Over winter and spring break I developed Alexa skills. Winter break I worked with my good friend Brian Snyder to create <a href = "https://www.amazon.com/Matthew-Gunton-Co-You-Choose/dp/B07NGT7LG4">You Choose</a>. The skill uses the client's current location to recommend local restaurants. Utilizing Google Maps API, it is available on all Alexa Devices in the US. I focused primarily on the backend, converting the zipcode Alexa gave us into coordinates, and plugging those coordiantes into Maps API. The code is publically available on <a href = "https://github.com/matthewjgunton/alexaSkillContest">Our Github Repository</a>. Over spring break I did a more creative project, utilizing our knowledge of Alexa to build a choose your own adventure story-line. Taking advantage of Alexa's powerful voice-recognition, I could let the player make more precise decisions than one ever could when stories were written on paper. <a href="https://www.amazon.com/dp/B07PQ694CY/ref=sr_1_1?keywords=gunton&qid=1552955165&s=digital-skills&sr=1-1-catcorr">Mystery Mayhem: Robbery at Drinker Bank</a> is available for all Alexa devices.</p>

        </div>

          <div class="mySlides">

            <a href = "https://reshwap.com"><img width = "50%"src = "/reshwap.png"></img><br></a>
            <p>This was my first major backend project. The idea was to set up a marketplace where students who went to Lawrenceville could find books. After Max Drojjin asked me to join, I completely redesigned the backend. The goal was to be efficient when using images, and to create a powerful security system that could protect all the new information. Reshwap would go on to be widely deployed at the Lawrenceville School. Selling Reshwap t-shirts, integration with other clubs, and public contests helped keep everyone engaged with the system. When I graduated and handed off the system to the next generation of developers, we had far-surpassed the previous largest number of items for sale on the site.</p>
          </div>

          <div class="mySlides">

            <a href = "https://www.lawrenceville.org"><img width = "10%" src = "/merge.png"></img></a>
            <p>Working alongside Eric Cheng and Jack Chau, I created the brain for online Harkness learning. The project was enormously ambitious. Students at Lawrenceville have graded discussions in their English courses, and I wanted to create a way to not only to keep track of who said what, but also create an interface so the collection of the data could be useful. To do so, I had to create enough personalization options so every teacher could find a use for it. For instance, one teacher might decide that she wants to track the quality of questions raised by students in discusison, while another may decide he wants to see who really analyzed the text in the novels. This project required me to focus on making all functions very adaptable. The project was being tested in classrooms when I graduated. It is now being incorporated into the Sentinel Project.</p>

          </div>

          <div class="mySlides">

            <a href = "https://sentinel.lawrenceville.org"><img width = "100%" src = "/sentinel.png"></img></a>
            <p>Working for the Lawrenceville School, I helped significantly upgrade the Sentinel Program. Originally built by Dr Keith Voss, Sentinel helps Lawrenceville keep track of their students after class hours. I spent 10 weeks working intensely on the project, with most of my energy focused on creating a new user interface for the program. In addition, many other key features were created or planned during this time such as "Fast Out"––a way for students' preferences to be saved––as well as creating the framework for a settings page that allows students to personalize and thus make Sentinel work better for them. Gunton used the infrastructure he helped build to publish a survey observing difficulty in classes. Given his knowledge of the system, the server handled 200 people at once.</p>

          </div>

          <div class="mySlides">

            <a href = "https://eyecareforchildren.com/"><img width = '50%' src = "https://eyecareforchildren.com/mainMomLogo.png"></img></a>
            <p>When my mother asked me to help manage her website, I took it as an opportunity to experiment with bootstrap. Keeping the design simple, so patients didn't have to worry about navigating the website, I focused on developing my boostrap skills. Specifically, one can see how the navbar is very easy to use and looks great on all screens.</p>

          </div>

      </div>

      <br>

      <div style="text-align:center">
        <span class="dot" onclick="lookat(1)"></span>
        <span class="dot" onclick="lookat(2)"></span>
        <span class="dot" onclick="lookat(3)"></span>
        <span class="dot" onclick="lookat(4)"></span>
        <span class="dot" onclick="lookat(5)"></span>
        <!-- <span class="dot" onclick="currentSlide(6)"></span> -->

      </div>
    </div>
  </div>

  <div id = "Skills" class="captionNew"style="position:relative;padding:100px 10px;">

      <h2 class="border" style="font-size:25px;color: #f7f7f7;">Skills:</h2>
        <p class="border" style="font-size:25px;color: #f7f7f7;">
          <div class = "grid">
            <ul>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/html.png" /></div></li>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/css.png" /></div></li>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/js.png" /></div></li>
              <li><div class = 'grid-item'><img width = "300px" height = "200px" src = "/nodejs.png" /></div></li>
              <li><div class = 'grid-item'><img width = "300px" height = "200px" src = "/git.png" /></div></li>
              <li><div class = 'grid-item'><img width = "150px" height = "200px" src = "/cmdln.png" /></div></li>
            </ul>
          </div>

        </p>
  </div>

  <div style="position:relative;">
    <div style="color:#777;background-color:#white;text-align:center;padding:50px 80px;text-align: justify;">
      <div id = 'testimonials' class="slideshow-container">

        <h1>Testimonials</h1>

        <div class="mySlidesNew">

          <a href = "https://imbrex.io/"><img width = "30%"src = "/imbrex.png"></img><br></a>
          <p>"At imbrex, Matthew contributed to the successful launch of our beta application, balancing time in between writing frontend code and exploring new backend frameworks like Sails.js. Matthew has a deep understanding of technology and a keen eagerness to learn. It was a pleasure working with Matthew, he is welcome back to imbrex anytime!"</p>
          <h4 style = "text-align:right">-Stephen King</h4>
        </div>

          <div class="mySlidesNew">

            <a href = "https://www.valuationresearch.com/"><img width = "50%"src = "/vrc.jpg"></img><br></a>
            <p>"During his time at VRC’s Summer Internship program, Matthew demonstrated a sharp mind and strong work ethic. Matthew navigated well through the program despite large volumes of new information and complex problem solving challenges. Matthew would be perfect for a leadership position given his high level of motivation, positive attitude and natural ability to direct a group and we wish him the best of luck in future endeavors."</p>
            <h4 style = "text-align:right">-Mike Murphy & Sean Woodward</h4>
          </div>

          <div class="mySlidesNew">

            <a href = "https://www.willseye.org/"><img width = "20%"src = "/weh.png"></img><br></a>
            <p>"Matthew was a delight to have on our service. He brought a unique perspective with his inquiring mind about the role of computer technology in the diagnosis of genetic disease. He clearly sees the potential for using artificial intelligence to shed more light in this complex area of medicine"</p>
            <h4 style = "text-align:right">-Dr. Alex V Levin</h4>
          </div>




          <br>

          <div style="text-align:center">
            <span class="dotNew" onclick="lookatNew(1)"></span>
            <span class="dotNew" onclick="lookatNew(2)"></span>
            <span class="dotNew" onclick="lookatNew(3)"></span>

            <!-- <span class="dot" onclick="currentSlide(6)"></span> -->

          </div>
        </div>
      </div>

  <div style="position:relative;">
    <div id = "Contact" style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <h2><center>Connect</center></h2>

      <div class="soc">

        <a href="https://github.com/matthewjgunton" class="icon github" title="GitHub">
          <svg viewBox="71 71 370 370">
            <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"/>
          </svg>
        </a>

        <a href="https://www.linkedin.com/in/matthewjgunton/" class="icon linkedin" title="LinkedIn">
          <svg viewBox="0 0 512 512">
            <path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"/>
          </svg>
        </a>

        <!-- <a href="" class="icon stackoverflow" title="StackOverflow">
          <svg viewBox="0 0 512 512">
            <path d="M294.8 361.2l-122 0.1 0-26 122-0.1L294.8 361.2zM377.2 213.7L356.4 93.5l-25.7 4.5 20.9 120.2L377.2 213.7zM297.8 301.8l-121.4-11.2 -2.4 25.9 121.4 11.2L297.8 301.8zM305.8 267.8l-117.8-31.7 -6.8 25.2 117.8 31.7L305.8 267.8zM321.2 238l-105-62 -13.2 22.4 105 62L321.2 238zM346.9 219.7l-68.7-100.8 -21.5 14.7 68.7 100.8L346.9 219.7zM315.5 275.5v106.5H155.6V275.5h-20.8v126.9h201.5V275.5H315.5z"/>
          </svg>
        </a> -->

      </div>
    </div>
  </div>

  <div class="bgimg-4">
    <div id = "Resume" class="caption">

      <span class="border"><a href = "/resume.pdf">View Resume</a></span>
    </div>
  </div>


</body>

<% include ./partials/bottom.ejs %>

<script>

$(document).ready(function(){


  $("#welcome").text("Hello World");
  setTimeout(()=>{
      $("#welcome").fadeIn();
  }, 500);


  setTimeout(()=>{
    console.log('executed');
    $("#welcome").fadeOut();
  }, 3000);

  setTimeout(()=>{
    $("#first").fadeIn();
  }, 4000)

  setTimeout(()=> {
    $("#first").fadeOut();
  }, 2*3000)

})


//functions for sliding between images & such:
function unify(e) { return e.changedTouches ? e.changedTouches[0] : e };
let x0 = null;

function lock(e) { x0 = unify(e).clientX };

function move(e) {
  if(x0 || x0 === 0) {
    let dx = unify(e).clientX - x0;
    let s = Math.sign(dx);

    if(s > 0 && slideIndex > 1){
      showSlides(--slideIndex);
    }
    if(s<0 && slideIndex < 5){
      showSlides(++slideIndex);
    }
    x0 = null;
  }
};

document.getElementById("projects").addEventListener('mousedown', lock, false);
document.getElementById("projects").addEventListener('touchstart', lock, false);

document.getElementById("projects").addEventListener('mouseup', move, false);
document.getElementById("projects").addEventListener('touchend', move, false);

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {

  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

function lookat(i){
  $('html,body').animate({
        scrollTop: $("#projects").offset().top},
        'slow');

  currentSlide(i);
}

function scrollTo(id){
  $('html,body').animate({
        scrollTop: $("#"+id).offset().top},
        'slow');
}

// vanilla JS
var grid = document.querySelector('.grid');
// initialize with element
var pckry = new Packery( grid, {
  gutter: 10,
  itemSelector: '.grid-item'
});


//testimonials

var slideIndexNew = 1;

function moveNew(e) {
  if(x0 || x0 === 0) {
    let dx = unify(e).clientX - x0;
    let s = Math.sign(dx);

    if(s > 0 && slideIndexNew > 1){
      showSlidesNew(--slideIndexNew);
    }
    if(s < 0 && slideIndexNew < 3){
      showSlidesNew(++slideIndexNew);
    }

    x0 = null;
  }
};

document.getElementById("testimonials").addEventListener('mousedown', lock, false);
document.getElementById("testimonials").addEventListener('touchstart', lock, false);

document.getElementById("testimonials").addEventListener('mouseup', moveNew, false);
document.getElementById("testimonials").addEventListener('touchend', moveNew, false);


showSlidesNew(slideIndexNew);

function plusSlidesNew(n) {
  showSlidesNew(slideIndexNew += n);
}

function currentSlideNew(n) {
  showSlidesNew(slideIndexNew = n);
}

function showSlidesNew(n) {

  var i;
  var slides = document.getElementsByClassName("mySlidesNew");
  var dots = document.getElementsByClassName("dotNew");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndexNew = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndexNew-1].style.display = "block";
  dots[slideIndexNew-1].className += " active";
}

function lookatNew(i){
  console.log('found');
  $('html,body').animate({
        scrollTop: $("#testimonials").offset().top},
        'slow');

  currentSlideNew(i);
}

function scrollToNew(id){
  $('html,body').animate({
        scrollTop: $("#"+id).offset().top},
        'slow');
}



</script>

</html>
