<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>

  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/blog/entry.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div id = "navbar">
    <a data-aos="fade-up" data-aos-delay="50" href = "/">Home</a>
    <a data-aos="fade-up" data-aos-delay="70" href = "/blog">Blog</a>
    <a data-aos="fade-up" data-aos-delay="150" href = "/projects">Projects</a>
    <a data-aos="fade-up" data-aos-delay="330" href = "/media">Media</a>
  </div>

  <div id = "splash">
    <div id = 'text'>
      <h1 class='fadein'>Media</h1>
        <p class="fadein2">My friends and I love creating. Here's what we have made and what people have written about us</p>
      </div>
  </div>

    <center>
      <iframe src="https://player.vimeo.com/video/358415910" width="70%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/356999361" width="70%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/355590066" width="70%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/354284870" width="70%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </center>
    <br/>
    <br/>

  <div class = 'blog-article'>
    <a href = "https://thebrownandwhite.com/2019/02/03/baker-institute-eureka-competition/">
    <div class = 'left'>
      <h1>Baker Institute encourages student entrepreneurship through EUREKA!</h1>
    </div>
    <div class = 'right'>
      <span>The Brown and White</span>
    </div>
    </a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "http://www.thelawrence.org/article.php?id=3609">
    <div class = 'left'>
      <h1>SHINING MOMENTS IN DEBATE COMPETITION</h1>
    </div>
    <div class = 'right'>
      <span>The Lawrence</span>
    </div>
    </a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "http://www.thelawrence.org/article.php?id=3515">
    <div class = 'left'>
      <h1>BIG RED SWIMMING TRAVELS TO EASTERNS</h1>
    </div>
    <div class = 'right'>
      <span>The Lawrence</span>
    </div>
    </a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "http://www.thelawrence.org/article.php?id=3066">
    <div class = 'left'>
      <h1>SPEECH AND DEBATE HOSTS TOURNAMENT</h1>
    </div>
    <div class = 'right'>
      <span>The Lawrence</span>
    </div>
    </a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "http://www.thelawrence.org/article.php?id=2842">
    <div class = 'left'>
      <h1>PUBLIC FORUM HOSTS INTER-HOUSE DEBATE</h1>
    </div>
    <div class = 'right'>
      <span>The Lawrence</span>
    </div>
    </a>
  </div>

  <% include ./partials/footer.ejs %>

</body>

</html>
