<!DOCTYPE html>
<html>
<!--page2 of media coming soon-->
<head>
  <% include ./partials/header.ejs %>

  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/blog/entry.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=337138743536893&autoLogAppEvents=1"></script>
  <div id = "navbar">
    <a data-aos="fade-up" data-aos-delay="50" href = "/">Home</a>
    <a data-aos="fade-up" data-aos-delay="70" href = "/blog">Blog</a>
    <a data-aos="fade-up" data-aos-delay="150" href = "/projects">Projects</a>
    <a data-aos="fade-up" data-aos-delay="330" href = "/media">Media</a>
  </div>

  <div id = "splash">
    <div id = 'text'>
      <h1 class='fadein'>Media</h1>
        <p class="fadein2">My friends and I love creating. Here's what we have made and what people have written about us</p>
      </div>
  </div>

    <center>
      <iframe src="https://open.spotify.com/embed-podcast/episode/6qj4ZXrHKFK7agbS1D4Kyv" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/>
      <br/>
      
      <div class = 'blog-article'>
        <a href = "https://thebrownandwhite.com/2019/10/24/student-podcasters-bring-comedy-stories-to-campus-community/">
        <div class = 'left'>
          <h1>Student podcasters bring comedy, stories to campus community</h1>
        </div>
        <div class = 'right'>
          <span>The Brown and White</span>
        </div>
        </a>
      </div>
      <br/>
      <br/>

      <iframe src="https://player.vimeo.com/video/365890957" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>

      <iframe src="https://open.spotify.com/embed-podcast/episode/675Tmk810UBJLxNDkUJNkO" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/>
      <br/>

      <div class = 'blog-article'>
        <a href = "https://thebrownandwhite.com/2019/10/03/lehigh-battle_of_the_bands/#prettyPhoto">
        <div class = 'left'>
          <h1>Battle of the Bands rocks Lamberton Hall</h1>
        </div>
        <div class = 'right'>
          <span>The Brown and White</span>
        </div>
        </a>
      </div>
      <br/><br/>
      <iframe src="https://player.vimeo.com/video/363192020" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <div class="fb-video" data-href="https://www.facebook.com/UPLehigh/videos/486819485493160/?v=486819485493160" data-width="500" data-show-text="false"><blockquote cite="https://developers.facebook.com/UPLehigh/videos/486819485493160/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/UPLehigh/videos/486819485493160/"></a><p>Looking back on ThirdSpace’s Battle of the Bands 🎸 and all the AMAZING acts 🏆Thanks to everyone for coming out to support all the talented groups 🙌🏻 and congrats to Dirty Mike and the Boys for winning the gig at Founder’s Day! 🥇</p>Posted by <a href="https://www.facebook.com/UPLehigh/">University Productions</a> on Sunday, September 29, 2019</blockquote></div>
      <br/>
      <br/>
      <iframe src="https://open.spotify.com/embed-podcast/episode/1QcPWbdTvGVHNwfsbOE4kJ" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/359891085" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://open.spotify.com/embed-podcast/episode/2WQ4knF20CD5eXrGZNPrWu" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/358415910" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/356999361" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/355590066" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/354284870" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </center>
      <br/>
      <br/>

  <div class = 'blog-article'>
    <a href = "https://thebrownandwhite.com/2019/02/03/baker-institute-eureka-competition/">
    <div class = 'left'>
      <h1>Baker Institute encourages student entrepreneurship through EUREKA!</h1>
    </div>
    <div class = 'right'>
      <span>The Brown and White</span>
    </div>
    </a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "http://www.thelawrence.org/article.php?id=3609">
    <div class = 'left'>
      <h1>SHINING MOMENTS IN DEBATE COMPETITION</h1>
    </div>
    <div class = 'right'>
      <span>The Lawrence</span>
    </div>
    </a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "http://www.thelawrence.org/article.php?id=3515">
    <div class = 'left'>
      <h1>BIG RED SWIMMING TRAVELS TO EASTERNS</h1>
    </div>
    <div class = 'right'>
      <span>The Lawrence</span>
    </div>
    </a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "http://www.thelawrence.org/article.php?id=3066">
    <div class = 'left'>
      <h1>SPEECH AND DEBATE HOSTS TOURNAMENT</h1>
    </div>
    <div class = 'right'>
      <span>The Lawrence</span>
    </div>
    </a>
  </div>

  <br/>
  <br/>

  <div class = 'blog-article'>
    <a href = "http://www.thelawrence.org/article.php?id=2842">
    <div class = 'left'>
      <h1>PUBLIC FORUM HOSTS INTER-HOUSE DEBATE</h1>
    </div>
    <div class = 'right'>
      <span>The Lawrence</span>
    </div>
    </a>
  </div>

  <% include ./partials/footer.ejs %>

</body>

</html>
