<!DOCTYPE html>
<html>

<head>

  <% include ./partials/header.ejs%>

  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/project/row.css" rel ='stylesheet' />
  <link href = "/css/project/app.css" rel ='stylesheet' />
  <link href = "/css/project/web3.css" rel ='stylesheet' />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div id = "navbar">
    <a data-aos="fade-up" data-aos-delay="50" href = "/">Home</a>
    <a data-aos="fade-up" data-aos-delay="70" href = "/blog">Blog</a>
    <a data-aos="fade-up" data-aos-delay="150" href = "/projects">Projects</a>
    <a data-aos="fade-up" data-aos-delay="330" href = "/media">Media</a>
  </div>

  <div id = "splash">
    <div id = 'text'>
      <h1 class='fadein'>Projects</h1>
      <div id = 'links'>
        <a class="fadein2" href = "/projects/#web">Web</a>
        <a class="fadein3" href = "/projects/#app">App</a>
        <a class="fadein4" href = "/projects/#web3">Web3</a>
        <a class="fadein5" href = "/projects/#alexa">Alexa</a>
        <a class="fadein6" href = "/projects/#misc">Misc</a>
      </div>
    </div>
  </div>

  <div id = "web">
    <h2>Web</h2>
    <div class = 'row'>
      <div class = 'big'>
        <a href = "/projects/reshwap"><img src = "/images/reshwap.jpg" />
        <h4>Reselling</h4>
        <p>Reshwap</p></a>
      </div>
      <div class = 'small'>
        <div class = "lil">
          <a href = "/projects/eyecare"><img src = "/images/eyecare.jpg" />
          <h4>Healthcare</h4>
          <p>Eye Care for Children</p></a>
        </div>
        <div class = "lil">
          <a href = "/projects/sentinel"><img src = "/images/sentinel.jpg" />
          <h4>School Management</h4>
          <p>Sentinel</p></a>
        </div>
      </div>
    </div>
  </div>

  <div id = "app">
    <h2>App</h2>
    <div class = 'focus'>
      <div class = 'images'>
        <a href = "/projects/eyeremember"><img src = "/images/eyeremember.jpg" />
      </div>
      <div class = 'text'>
        <h3>Eye Remember</h3></a>
      </div>
    </div>
  </div>

  <div id = "web3">
    <h2>Web3</h2>
    <div class = 'big'>
      <a href = "/projects/dolomite"><img src = "/images/dolomite.jpg" />
      <h4>FinTech</h4>
      <p>Dolomite</p></a>
    </div>
    <div class = 'big'>
      <a href = "/projects/imbrex"><img src = "/images/imbrex.jpg" />
      <h4>RealTech</h4>
      <p>Imbrex</p></a>
    </div>
  </div>

  <div id = "alexa">
    <h2>Alexa</h2>
    <div class = 'big'>
      <a href = "/projects/youchoose"><img src = "/images/youChoose.jpg" />
      <h4>Restaurant Selection</h4>
      <p>You Choose</p></a>
    </div>
    <div class = 'big'>
      <a href = "/projects/mysterymayhem"><img src = "/images/mysteryMayhem.jpg" />
      <h4>Story Telling</h4>
      <p>Mystery Mayhem</p></a>
    </div>
  </div>

  <div id = "misc">
    <h2>Misc</h2>
    <div class = 'big'>
      <a href = "/projects/mikeys"><img src = "/images/mikey.jpg" />
      <h4>Consulting</h4>
      <p>Lehigh Consulting Competition 2019</p></a>
    </div>
    <div class = 'big'>
      <a href = "/projects/thedayoff"><img src = "/images/theDayOff/dayoff.jpg" />
      <h4>Film & Media</h4>
      <p>The Day off</p></a>
    </div>

    <!-- <div class = 'focus'>
      <div class = 'images'>
        <a href = "/projects/mikeys"><img src = "/images/mikey.jpg" />
      </div>
      <div class = 'text'>
        <h3>Lehigh Consulting Competition 2019</h3></a>
      </div>
    </div> -->
  </div>

  <% include ./partials/footer.ejs %>


</body>

</html>
