
.soc{
  margin-top: 30px;
  display: block;
  list-style: none;
  text-align: center;
}
  .soc li{
    display: inline-block;
}
  .soc a, .soc svg{
    display: block;
}
  .soc a{
    display: inline-block;
    position: relative;
    height: 150px;
    width: 150px;
    }

  .soc svg{
    height: 100%;
    width: 100%;
 }


.icon{
  background: black;
  border-radius: 100%;
  color: white;
  fill: white;
}
.icon:hover{
    background: white;
    color: black;
    fill: black;
}

.github{
  background: white;
  color: black;
  fill: black;
}
  .github:hover{
    background: #6441a5;
    color: white;
    fill: white;
  }

.linkedin:hover{
    color: #007BB6;
    fill: #007BB6;
  }

.stackoverflow:hover{
    color: #fe7a15;
    fill: #fe7a15;
}
