<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div>
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>AideSquared at MedHacks</h1>
  <h4>Alexa | Hackathon | Medical Space</h4>

  <center><img src = "/images/medhacks.jpg"/></center>
  <div id = "text">
    <p>An Alexa Skill to Help Understaffed Hospitals</p>
  </div>
  <div id = "tech">
    <span>Partnered With</span>
    <ul>
      <a href = "https://www.linkedin.com/in/allisoncodi/"><li>Allison Codi</li></a>
      <a href = "https://www.linkedin.com/in/emily-barlow-4aa085195/"><li>Emily Barlow</li></a>
    </ul>
  </div>

  <div id = "mid">
    <p>
      It all began in the summer, when I got a text from Allison Codi. She saw an ad for this hackathon on Facebook and wanted to enter. She wanted me to join her. Never having been to a hackathon in person, I've done a few online, I agreed. A month or so later, we were in the car with Emily Barlow on our way to Baltimore.
      <br/><br/>
      
      Check out our repository at:<br/><a href = "https://github.com/matthewjgunton/medhacks">https://github.com/matthewjgunton/medhacks</a>
    </p>
  </div>

  <% include ../partials/footer.ejs%>

</body>

</html>
