<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel ="stylesheet" />
  <link href = "/css/landing.css" rel="stylesheet" />
  <link href = "/css/bg.css" rel="stylesheet" />
  <link href = "/css/bio.css" rel="stylesheet" />
  <link href = "/css/testimonials.css" rel="stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <!--Leaderboard component, personal score, enter eggs piece-->

  <center>
  <h3>Welcome, <%=user.name.givenName%></h3>

  <div style="border-top: 2px solid white; border-bottom: 2px solid white">
    <h1>Found an Egg?</h1>
    <h2>Enter Its Code Here:</h2>
    <input style = "padding: 12px 20px; margin: 8px 0; box-sizing: border-box; width: 45%;" id='code' name='code' placeholder="Secret Code"></input><br/>
    <button style = "background-color: white; font-size: 12px; border-radius: 20px; width: 30%;" type="button" onclick="checkDig()">Submit</button><br/><br/>
  <div>

    </center>

  <div style = "text-align: center" id = "leaderboard">
    <h2>You've found <%=user.eggsFound%> Egg(s)</h2>
  </div>

  <div style = "text-align: center; border-top: 2px solid white;">
    <h1>Prizes</h1>
      <h3>1st & 2nd - $200</h3>
      <h3>3rd & 4th - $150</h3>
      <h3>5th & 6th - $100</h3>
      <h3>7th & 8th - $50</h3>
  </div>

  <% include ../partials/footer.ejs %>

  <script src = "/vanillaJS/testimonials.js"></script>
  <script src = "/vanillaJS/rabbit.js"></script>

</body>

</html>
