<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel ="stylesheet" />
  <link href = "/css/landing.css" rel="stylesheet" />
  <link href = "/css/bg.css" rel="stylesheet" />
  <link href = "/css/bio.css" rel="stylesheet" />
  <link href = "/css/testimonials.css" rel="stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <!--Leaderboard component, personal score, enter eggs piece-->

  <center>
  <h3>Welcome, <%=user.name.givenName%></h3>
  <h4>Be Sure to Use the Same Email:<br/><%=user.email%></h4>

  <div style="border-top: 2px solid white; border-bottom: 2px solid white">
    <h1>Found an Egg?</h1>
    <h2>Enter Its Code Here:</h2>
    <input style = "padding: 12px 20px; margin: 8px 0; box-sizing: border-box; width: 45%;" id='code' name='code' placeholder="Secret Code"></input><br/>
    <button style = "background-color: white; font-size: 12px; border-radius: 20px; width: 30%;" type="button" onclick="checkDig()">Submit</button><br/><br/>
  <div>

  </center>

  <div style = "text-align: center" id = "leaderboard">
    <h2>You've found <%=user.eggsFound%> Egg(s)</h2>
  </div>

  <div style = "text-align: center; border-top: 2px solid white;">
    <h1>Rules</h1>
    <ol>
      <li>Find eggs, and put the code you find in that egg into the website</li>
      <li>Throw out eggs after you find them</li>
      <li>No throwing eggs</li>
      <li>No sabotaging eggs by moving them after game start; Especially when putting them in areas outside of the initial guidelines.</li>
      <li>No trying to guess codes to put into the website</li>
    </ol>
  </div>

  <% include ../partials/footer.ejs %>

  <script src = "/vanillaJS/testimonials.js"></script>
  <script src = "/vanillaJS/rabbit.js"></script>

  <script>
  getLeaderboard('/rabbit/leaderboard');
  </script>

</body>

</html>
