<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel ="stylesheet" />
  <link href = "/css/landing.css" rel="stylesheet" />
  <link href = "/css/bg.css" rel="stylesheet" />
  <link href = "/css/bio.css" rel="stylesheet" />
  <link href = "/css/testimonials.css" rel="stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <!--Leaderboard component, personal score, enter eggs piece-->
  <h1>Campus Wide Easter Egg Hunt</h1>

  <a href = "/rabbit/oauth">Login With Google</a>


  <% include ../partials/footer.ejs %>

  <script src = "/vanillaJS/testimonials.js"></script>

</body>

</html>
