<!DOCTYPE html>
<html>

<head>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144941895-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-144941895-1');
  </script>
  <title>Egg Hunt - UP</title>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
  <meta property=og:image:width>
  <meta property=og:image:height>
  <meta property="og:site_name" content="Egg Hunt - UP"/>
  <meta property="og:title" content="Egg Hunt - UP" />
  <meta property="og:image" content="https://maurelius.com/images/egg.png" />
  <meta property=og:description content="Campus Wide Egg Hunt- Onwards & Upwards!">
  <meta name=description content="Campus Wide Egg Hunt- Onwards & Upwards!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Campus Wide Egg Hunt- Onwards & Upwards!" />
  <meta name="keywords" content="Matthew Gunton, Gunton, Matthew, Lehigh University, Lawrenceville, Lawrenceville School, iOS, Eye Remember, Reshwap, You Choose, Alexa, Computer Science and Business, Onwards & Upwards, Onwards, Upwards" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name=twitter:image content="https://maurelius.com/images/egg.jpg" />
  <meta name=twitter:description value="Campus Wide Egg Hunt- Onwards & Upwards!">
  <meta property=og:title content="Egg Hunt - UP">
  <meta name=twitter:title value="Egg Hunt - UP">
  <meta name=twitter:card content=summary_large_image>
  <meta name=twitter:domain value=maurelius.com>
  <meta name=twitter:site content=@matthewjgunton>
  <meta name=twitter:creator content=@matthewjgunton>
  <meta name=twitter:url value=http://www.maurelius.com>
  <meta name=twitter:label1 value="Onwards & Upwards!">
  <meta name=twitter:data1 value=me@maurelius.com>
  <link rel="apple-touch-icon-precomposed" href="/favicon.png"></link>
  <link rel="shortcut icon" href="/favicon.png"></link>
  <link rel=mask-icon href="/favicon.png" color=#000000>
  <link rel="icon" href="/favicon.png"></link>
  <link rel=icon type=image/png sizes=32x32 href="/favicon.png">
  <link rel=icon type=image/png sizes=16x16 href="/favicon.png">
  <meta name=msapplication-TileColor content=#ffffff>
  <meta name=msapplication-config content="/favicon.png">
  <meta name=theme-color content=#1c1c1d>

  <link href = "/css/common.css" rel ="stylesheet" />
  <link href = "/css/landing.css" rel="stylesheet" />
  <link href = "/css/bg.css" rel="stylesheet" />
  <link href = "/css/bio.css" rel="stylesheet" />
  <link href = "/css/testimonials.css" rel="stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>


    <!--Google OAuth button and description of event-->
  <center>
  <h1>Campus Wide Egg Hunt</h1>
  <h3>A University Productions Special Event</h3>
  <h5>You Must Have On-Campus Resources To Compete</h5>
  <a style = "background-color: white; color: black; padding: 10px; border-radius: 20px;" href = "/rabbit/oauth">Login With Lehigh Account</a>
  <br/><br/><br/>
  <div>
    <h2>Win A Dinner From Any Restaurant on Doordash up to:</h2>
      <h3>1st & 2nd - $100</h3>
      <h3>3rd & 4th - $75</h3>
      <h3>5th & 6th - $50</h3>
      <h3>7th & 8th - $25</h3>
  </div>
  </center>

  <% include ../partials/footer.ejs %>

  <script src = "/vanillaJS/testimonials.js"></script>

</body>

</html>
