<!DOCTYPE html>
<html>
<!--page2 of media coming soon-->
<head>
  <% include ../partials/header.ejs%>

  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/landing.css" rel ='stylesheet' />
  <link href = "/css/blog/entry.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

<% include ../partials/navbar.ejs %>

<% include ../partials/mediaLinks.ejs %>

    <center>
      <iframe src="https://open.spotify.com/embed-podcast/episode/6qj4ZXrHKFK7agbS1D4Kyv" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/>
      <br/>

      <div class = 'blog-article'>
        <a href = "https://thebrownandwhite.com/2019/10/24/student-podcasters-bring-comedy-stories-to-campus-community/">
        <div class = 'left'>
          <h1>Student podcasters bring comedy, stories to campus community</h1>
        </div>
        <div class = 'right'>
          <span>The Brown and White</span>
        </div>
        </a>
      </div>
      <br/>
      <br/>

      <iframe src="https://player.vimeo.com/video/365890957" width="100%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>

      <iframe src="https://open.spotify.com/embed-podcast/episode/675Tmk810UBJLxNDkUJNkO" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/>
      <br/>

<% include ../partials/footer.ejs %>

</body>

</html>
