<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs%>
        <link href="/css/common.css" rel="stylesheet" />
        <link href="/css/project/common.css" rel="stylesheet" />
        <link href="/css/start.css" rel="stylesheet" />
        <link href="/css/icons.css" rel="stylesheet" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<style>
*{
  font-family: 'Times New Roman';
  font-weight: normal;
}
</style>

<body>

  <center>
  <h1>MOM'S TITLE GOES HERE</h1>
  <h3>Participant Survey</h3>
  <h5>Please sign in with Google to Begin</h5>
  <a style = "background-color: white; color: black; padding: 10px; border-radius: 20px;" href = "<%=rt%>/oauth">Login With Google</a>
  </center>

</body>

</html>
