<!DOCTYPE html>
<html>

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144941895-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-144941895-1');
  </script>
  <script data-ad-client="ca-pub-1566249122256303" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <title>Eye Misalignment Study</title>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
  <meta property=og:image:width>
  <meta property=og:image:height>
  <meta property="og:site_name" content="Maurelius.com"/>
  <meta property="og:title" content="Eye Misalignment Study" />
  <meta property=og:description content="We are trying to understand the relative importance of alignment of the eyes.">
  <meta name=description content="We are trying to understand the relative importance of alignment of the eyes.">
  <link rel="apple-touch-icon-precomposed" href="/favicon.png"></link>
  <link rel="shortcut icon" href="/favicon.png"></link>
  <link rel=mask-icon href="/favicon.png" color=#000000>
  <link rel="icon" href="/favicon.png"></link>
  <link rel=icon type=image/png sizes=32x32 href="/favicon.png">
  <link rel=icon type=image/png sizes=16x16 href="/favicon.png">
  <meta name=msapplication-TileColor content=#ffffff>
  <meta name=msapplication-config content="/favicon.png">
  <meta name=theme-color content=#1c1c1d>
  <link href="/css/common.css" rel="stylesheet" />
  <link href="/css/project/common.css" rel="stylesheet" />
  <link href="/css/start.css" rel="stylesheet" />
  <link href="/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>
<style>
*{
  font-family: 'Times New Roman';
  font-weight: normal;
}
</style>

<body>

  <center>
  <h1>Eye Misalignment Study</h1>
  <h3>Participant Survey</h3>
  <h5>Please sign in with Google to Begin</h5>
  <a style = "background-color: white; color: black; padding: 10px; border-radius: 20px;" href = "<%=rt%>/oauth">Login With Google</a>
  </center>

</body>

</html>
