<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div>
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>Dolomite</h1>
  <h4>FinTech | Blockchain | Internship</h4>

  <center><img src = "/images/dolomite.jpg"/></center>
  <div id = "text">
    <p>Dolomite is a Decentralized Exchange of Cryptocurrencies. Utilizing the Loopring Protocol, Dolomite can facilitate the trade of any currencies, public stocks or options.</p>
  </div>

  <div id = "tech">
    <span>Tech Used</span>
    <ul>
      <li>React</li>
      <li>CSS</li>
      <li>Web3</li>
    </ul>
  </div>
  <div id = "mid">
    <p>
      The Computer Science and Business Administration hosts a picnic at the beginning of every school year. Among the attendees are professors, alumni, and students. Being new to Lehigh, I took advantage of the event to speak to as many upper classmen as possible. I got to meet future Googlers, Amazoners and tons of people on their way to jobs in small businesses. Among these people, I met Corey Caplan. He and I were talking about cryptocurrency and blockchain, and I must have impressed him because two weeks later I was offered an internship at his startup, Dolomite.
      <br/><br/>
      Dolomite is the brainchild of Corey and his business partner Adam Knuckey. The two of them had been avid crypto traders, making lots of money during the boom of 2017. As they traded, they started noticing lots of things they felt they could improve upon. First and foremost was the centralized nature of the very crypto exchanges they were trading on.
      <br/><br/>
      The blockchain craze began around 2009 when Satoshi Nakamoto published his famous essay on Bitcoin. Thus to understand how Dolomite fixes trading cryptocurrencies, it helps to know how most cryptocurrencies operate. You see the biggest issue on hand is the issue of duplicate currency. Monetary systems only work if you can only spend a specific dollar once. With computers everything is duplicable, so you have to be careful about keeping track of who owns which coins. This ownership information is stored inside a distributed database called a blockchain. One of the issues with this model is it's comparatively expensive to update the blockchain. When someone pays you, it makes total sense to update the blockchain to show you now own the coin. However, it does not make sense to update the blockchain to show how much a bitcoin is worth compared to a dollar. The price changes too often, it would quickly get too expensive. Thus, the only way to know how much a cryptocurrency is worth is on an exchange.
      <br/><br/>
      Before crypto prices soared, the issue crypto exchanges had to deal with was finding those prices. Exchanges needed a way to see what the going rate was for each coin, so they centralized their exchanges. This move was almost invisible to traders, but behind the scenes it was critical. When someone signed up and put cryptocurrency into these exchanges, the cryptocurrency was held by the exchange. That way when people traded on the exchange, no update to the blockchain was needed, all they would do is change the exchange's internal database of who owns what. The danger here is constantly being shown in the news. Exchange owners close up shop and defraud investors. People fake their own deaths to walk away with the money. Hackers break in, and even if the exchange gets control back, it's impossible to know how much crypto each person had. The core issue here is centralizing a decentralized technology.
      <br/><br/>
      Thus, Dolomite's goal was to decentralize exchanges. On Dolomite users keep their assets in their own wallets. My work on the site has been wide-ranging, from creating the referral panel, to writing functions and tests for smart contracts. I also created a front-end component for the Uniswap Smart Contracts.
    </p>
  </div>

  <% include ../partials/footer.ejs%>

</body>

</html>
