<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div>
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>Eye Care for Children</h1>
  <h4>Healthcare | Web-Design</h4>

  <center><img src = "/eyecare.png"/></center>
  <div id = "text">
    <p>A website for my mother's private practice. Contains references to all of her published articles.</p>
  </div>

  <div id = "tech">
    <span>Tech Used</span>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
    </ul>
  </div>
  <div id = "mid">
    <p>

    </p>
  </div>

  <% include ../partials/footer.ejs%>


</body>

</html>
