<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div>
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>EyeRemember</h1>
  <h4>Healthcare | App-Design</h4>

  <center><img src = "/images/bg4.jpg"/></center>
  <div id = "text">
    <p>A Mobile App to help patients keep track of when they need to take their medication. Also lets them show their doctors their results.</p>
  </div>

  <div id = "tech">
    <span>Tech Used</span>
    <ul>
      <li>React Native</li>
      <li>Node.JS</li>
      <li>MongoDB</li>
    </ul>
  </div>

  <div id = "mid">
    <p>
      EyeRemember was my first mobile app, so I leaned on my experience with React to build it. The idea began with my mother. She's an opthamologist who specializes in amblyopia treatments. Patients can have a variety of different things to keep track of when going through treatment. However, there's no good option for patients to keep track of it all. Given my coding ability, I went about solving the problem.
      <br/><br/>
      The biggest problem to tackle was building a notification system. The system had to be light so it wouldn't take up too many resources, but also powerful enough to handle any number of users. Given these two parameters, I had to go through many iterations, finding the right blend between the two competing interests. After that, the issue was designing it to be very easy to use. The best apps are frictionless, with intuitive design.
      <br/><br/>
      In the end, the project forced me to push the boundaries of my knowledge. I undoubtedly grew as a programmer greatly because of this project.
    </p>
  </div>

  <% include ../partials/footer.ejs%>

</body>

</html>
