<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div>
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>EyeRemember</h1>
  <h4>Healthcare | App-Design</h4>

  <center><img src = "/images/bg4.jpg"/></center>
  <div id = "text">
    <p>A Mobile App to help patients keep track of when they need to take their medication. Also lets them show their doctors their results.</p>
  </div>

  <div id = "tech">
    <span>Tech Used</span>
    <ul>
      <li>React Native</li>
      <li>Node.JS</li>
      <li>MongoDB</li>
    </ul>
  </div>

  <div id = "mid">
    <p>Eye Remember began becuase my mother found her patients had trouble taking their eye drops at the same time of day consistently.  </p>
  </div>

  <% include ../partials/footer.ejs%>

</body>

</html>
