<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs%>
        <link href="/css/common.css" rel="stylesheet" />
        <link href="/css/project/common.css" rel="stylesheet" />
        <link href="/css/start.css" rel="stylesheet" />
        <link href="/css/icons.css" rel="stylesheet" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
  <% include ../partials/navbar.ejs %>
    <h1>EyeRemember</h1>
    <h4>Healthcare | App-Design</h4>
    <center><img src="/images/eyeremember.jpg" /></center>
    <div id="text">
        <p>A Mobile App to help patients keep track of when they need to take their medication. Also lets them show their doctors their results.</p>
    </div>
    <div id="tech"> <span>Tech Used</span>
        <ul>
            <li>React Native</li>
            <li>Node.JS</li>
            <li>MongoDB</li>
        </ul>
    </div>
    <div id="mid">
        <p>


        </p>
    </div>
    <% include ../partials/footer.ejs%>
</body>

</html>
