<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <% include ../partials/navbar.ejs %>

  <h1>Imbrex</h1>
  <h4>RealTech | Blockchain | Internship</h4>

  <center><img src = "/images/imbrex.jpg"/></center>
  <div id = "text">
    <p>
      Imbrex is creating a next generation Multiple Listing Service, helping agents and users take control of their data.
    </p>
  </div>

  <div id = "tech">
    <span>Tech Used</span>
    <ul>
      <li>React</li>
      <li>CSS</li>
      <li>Web3</li>
      <li>IPFS</li>
    </ul>
  </div>
  <div id = "mid">
    <p>
      During my freshmen year winter break, I interned at the blockchain company Imbrex. During my two week tenure there, I did research into the Sails.JS framework, looking into how its consistency would help Imbrex while it scales. Furthermore, I got experience working on a React/Redux App, styling many components to make sure they look good on mobile screens. Most important to me, I got to meet fantastic mentors, who gave me a real look at what developing applications professionally is really like.
      <br/><br/>
      Imbrex was my first internship at a startup, and it was a fantastic experience. Working long hours with people who are passionate and dedicated is like nothing else. I got to meet people who were fresh out of college and working in an industry I love. Throughout my tenure there, I got to interact with cutting edge technology and get invaluable life advice from the team. In short, it was the perfect internship to get me excited about what entrepeneurship and tech can do together.
      <br/><br/>
      Imbrex is a RealTech company looking to move the Real Estate Industry into the future. Currently, the industry's data is split up among many different Multiple Listing Services (MLS), which takes the power away from realtors. In other words, a realtor can do all the work setting up the sale of the house, but if the MLS in their area decides to foresake them, their ability to advertise is obliterated. Zillow works by combining all the MLS services together, but in the end the user still
      does not have access to his/her data. Imbrex fixes this problem of data ownership by utilizing the blockchain. While posting on Imbrex, the realtor has complete ownership over the data. Only their key can decrypt the data in the database needed to transfer ownership.
    </p>
  </div>

<% include ../partials/footer.ejs%>

</body>

</html>
