<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <% include ../partials/navbar.ejs %>

  <h1>The Legendary Podcast</h1>
  <h4>Broadcasting | Interviewing | Media</h4>

  <center><img src = "/images/legendary.jpg"/></center>
  <div id = "text">
    <p>A podcast with my best friends to showcase the cool stuff happening around us</p>
  </div>

  <div id = "tech">
    <span>Partnered With</span>
    <ul>
      <a href = "https://www.linkedin.com/in/benjamin-blackwell-0a5918140/"><li>Ben Blackwell</li></a>
      <a href = "https://www.linkedin.com/in/adrian-suarez-b52a06177/"><li>Adrian Suarez</li></a>
    </ul>
  </div>

  <div id = "mid">
    <p>
      It all began at a Sunday dinner with my best friend Adrian Suarez. The two of us love to get into long talks about anything and everything, and that night one of our good friends stopped by to join us. She happened to have a non-traditional view on feminism and after about 2 hours of talking, I walked away from the dinner realizing how much I'd trapped myself in a bubble. After talking with Adrian about this, we decided to create a podcast to introduce ourselves and our audience to new ideas and viewpoints. We never had to agree with everything our guests said, they just had to have put real thought into their ideas.
      <br/><br/>
      Looking back, I realize all the big parts of this origin happened at dinner. At the same table that Adrian and I had the idea for the podcast, my friend Ben was hearing about it for the first time and getting really excited about it. Ben's passion is audio engineering, so he loved not only the idea of the podcast, but also thinking about how to make the show a reality. He asked us how we planned to record. When I told him we were going to use the microphone in our phones, he nearly had a kineption. He joined the show that moment to make sure our audio quality was up to par. To this day, we get tons of listeners complimenting our sound quality, and it's all thanks to Ben.
      <br/><br/>
      Every week now we record the show, with a new exciting guest each week. The show is split into three parts. The first one is a game called 'True Confessions'. If you've ever seen Jimmy Fallon's <i>The Tonight Song</i>, then you know this game. The rules are simple. One person tells a short story, usually only a sentence, about themselves. The rest of the podcast then has a minute to ask them questions to figure out if the story is true. After warming up with the game, Adrian and I then ask the guests candid questions about what they do on campus and their thoughts on a wide range of matters. Thus far, we've had some phenomenal guests, all of whom brought a new viewpoint to Adrian and I.
      <br/><br/>
      The best way to explain the podcast is to just show you.
      Check out our episodes below:
      <br/>
      <iframe src="https://open.spotify.com/embed-podcast/episode/2WQ4knF20CD5eXrGZNPrWu" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/>
      <br/>
      <iframe src="https://open.spotify.com/embed-podcast/episode/1QcPWbdTvGVHNwfsbOE4kJ" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/>
      <br/>
      <iframe src="https://open.spotify.com/embed-podcast/episode/675Tmk810UBJLxNDkUJNkO" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/>
      <br/>
      <iframe src="https://open.spotify.com/embed-podcast/episode/6qj4ZXrHKFK7agbS1D4Kyv" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </p>
  </div>

  <% include ../partials/footer.ejs%>

</body>

</html>
