<!DOCTYPE html>
<html>

<head>
  <title>Matthew Gunton</title>
  <meta property="og:title" content="Matthew Gunton" />
  <meta property="og:image" content="https://maurelius.com/bg4.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="My name is Matthew Gunton, and I am a Computer Science and Business student at Lehigh University. Previously I went to the Lawrenceville School where I graduated Cum Laude. I enjoy writing programs that make tedious tasks faster and even more enjoyable. I know HTML, CSS, Javascript, Node.JS, MongoDB, React, React Native, and Alexa." />
  <meta name="keywords" content="Matthew Gunton, Gunton, Matthew, Lehigh University, Lawrenceville, Lawrenceville School, iOS, Eye Remember, Reshwap, You Choose, Alexa, Computer Science and Business, Volta" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div>
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>Mystery Mayhem</h1>
  <h4>Story-Telling | Alexa Skill</h4>

  <center><img src = "/eyecare.png"/></center>
  <div id = "text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Id ornare arcu odio ut sem. Non arcu risus quis varius quam quisque id diam. Libero volutpat sed cras ornare. Natoque penatibus et magnis dis parturient montes nascetur. Eu lobortis elementum nibh tellus molestie nunc. Lectus quam id leo in vitae turpis massa sed elementum. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Id consectetur purus ut faucibus pulvinar. Euismod quis viverra nibh cras pulvinar mattis nunc sed.</p>
  </div>

  <div id = "tech">
    <span>Tech Used</span>
    <ul>
      <li>Node.JS</li>
      <li>ASK</li>
    </ul>
  </div>
</body>

</html>
