<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div>
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>Reshwap</h1>
  <h4>Reselling | Backend Design | Web-Design</h4>

  <center><img src = "/reshwap.png"/></center>
  <div id = "text">
    <p>Reshwap creates a platform for students to sell their used textbooks and furniture at the end of the term.</p>
  </div>

  <div id = "tech">
    <span>Tech Used</span>
    <ul>
      <li>Node.JS</li>
      <li>MongoDB</li>
    </ul>
  </div>
  <div id = "mid">
    <p>I was asked to join the Reshwap project at the beginning of my junior year at Lawrenceville. My good friend, Max Drojjin, had built the platform off of Facebook's now retired Parse system. At this time, Parse was shutting down, so the two of us had to find a way to transfer the system over to a stand alone system. <br/><br/>Seeing the cheap prices that virtual servers were going for, I decided that it made the most sense for us to transition to a fully autonomous server. Learning Node.JS as I went, I created the entire backend of Reshwap. This being my first Node.JS project, I had considerable difficulty creating features like photo uploads and buffering. Nonetheless, after hours of manually configuring the server to be more efficient, we re-launched Reshwap in front of our entire school.<br/><br/> At the end of the academic year, Max graduated, so I invited another great friend of mine, Eric Cheng, to join the project. Eric is an unbelieveable front-end designer, who was instrumental in creating the feel of Reshwap. During our senior year of Lawrenceville, the two of us went about finding ways to market Reshwap. When Max had started Reshwap two years prior to this, roughly 50 people had used Reshwap, totaling 100 items on the site. By the time Eric and I had finished our marketing push, 1 in every 4 kids at Lawrenceville had posted an item on Reshwap. <br/><br/>At the time of our graduation, we found another gifted programmer, Alper Canberk, to take the helm. He has recently redesigned our system so that any school can utilize Reshwap.</p>
  </div>

  <% include ../partials/footer.ejs%>

</body>

</html>
