<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs%>
        <link href="/css/common.css" rel="stylesheet" />
        <link href="/css/project/common.css" rel="stylesheet" />
        <link href="/css/start.css" rel="stylesheet" />
        <link href="/css/icons.css" rel="stylesheet" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
  <% include ../partials/navbar.ejs %>
    <h1>Sentinel</h1>
    <h4>School Management | Web-Design</h4>
    <center><img src="/images/sentinel.jpg" /></center>
    <div id="text">
        <p>The Sentinel Project is designed to help the Lawrenceville School keep track of its students after hours. The system is running 24 hours a day, and used by the entire student body and faculty of the Lawrenceville School.</p>
    </div>
    <div id="tech"> <span>Tech Used</span>
        <ul>
            <li>CSS</li>
            <li>Node.JS</li>
            <li>Windows Server</li>
        </ul>
    </div>
    <div id="mid">
        <p>I was asked to join the Sentinel Project at the beginning of my Senior Year at Lawrenceville. My calculus teacher, Dr Keith Voss, had built the system himself the year before and was looking for help from a student. The project itself was hundreds of thousands of lines of code and had to run constantly so the school was always kept up to date.
            <br/>
            <br/>After asking friends of mine around the school, I found the most consistent complaint was that the system's User Interface was difficult to use. The site worked by having students fill out a form to leave campus. There were many questions that had to be filled out, but going through it all, it was clear that the answer to one question often informed the answer to the next. For instance, saying you're going to the library inherently means that you're going to be staying on campus. Little reptitions like this really stuck out to people.
            <br/>
            <br/>I had preliminary experience designing webpages, so I took up the task of recreating the UI. Utilizing animations and a completely refurbished color scheme, I redesigned the form to be more dynamic and easier to use.
            <br/>
            <br/>When we released the new version, the most satisfying part was having friends come up to me and admire all the little details I added in.</p>
    </div>
    <center><img style="width: 30%" src="/images/sentinel2.jpg" /></center>
    <% include ../partials/footer.ejs%>
</body>

</html>
