<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div>
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>The Day Off</h1>
  <h4>Film | Media</h4>

  <center><img src = "/images/theDayOff/dayoff.jpg"/></center>
  <div id = "text">
    <p>This Series was a Love Letter to our hometown and a great way to spend the summer with close friends</p>
  </div>

  <div id = "tech">
    <span>Starring</span>
    <ul>
      <li>Matthew Seeburger</li>
      <li>Michael O'Rourke</li>
      <li>Shannon Flanigan</li>
    </ul>
  </div>

  <div id = "mid">
    <p>
      The Day Off began when Michael O'Rourke, one of my best friends, came over and the two of us started reminiscing about our Middle School days. The two of us had made many home movies together and watching them again made us remember just how much fun it was making these films. The truth also was that the next summer most of our friends would get jobs outside of town, so we'd see a lot less of them. This was the summer to do something big!
      <center><img src = "/images/theDayOff/thumbnail1.jpg" /></center>
      <br/><br/>
      The first thing to consider was what story to tell. I always loved stories that paid homage to the great tales of the past. Remakes were never quite so fun, but stories that retold the original one through a completely new lens always seemed cool to me. So we decided to retell our story through music videos––no talking allowed! Now all we had to choose was a great story. Browsing my family's DVD collection in our basement, we looked for inspiration. We almost chose Great Gatsby, but when I saw the cover of Ferris Bueller's Day Off, I knew we found the perfect one for us. Michael wanted to be behind the camera, so I took the mantle of Ferris. Now we only had to find Sloane and Cameron before we could start filming. One of our great friends, Matthew Seeburger, had been in theatre all throughout high school. He was a phenomenal actor and the perfect choice to play Cameron. We were really happy when he agreed to be in the project! I called Shannon that night and asked her to be in the project. I had a whole list of reasons to do it, but as soon as I explained what the project was, she cut me off and said she'd love to be in it! Looking back, we really got the best people. Everyone was really committed which only made the project all the more fun!
      <center><img src = "/images/theDayOff/thumbnail3.jpg" /></center>
      <br/><br/>
      We filmed over the course of 6 weekends. Each music video is a different scene in Ferris Bueller, from his faking being sick to Cameron's fall in the pool. Each weekend was an adventure. As the saying goes, "Man plans, and God laughs". Getting the Mustang for the third music video was an adventure in itself, and putting together everyone for the party scene was one of the craziest moments of the summer. Nonetheless, seeing all our high school friends together while filming was something special, and I couldn't be prouder of the final product.
      <center><img src = "/images/theDayOff/thumbnail5.jpg" /></center>
      <br/><br/>
      Like we said at the end of every weekend, it seems impossible until it's done, and then it seems inevitable. I'm incredibly grateful at the end of the summer to look back and see all our great work as inevitable. Truly blessed to spend the summer with my great friends. Glad we'll always have these videos to look back on!
      <br/><br/>
      We're releasing the videos every Friday on Vimeo. They'll appear below as we release them.
    </p>
    <center>
      <iframe src="https://player.vimeo.com/video/354284870" width="70%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/355590066" width="70%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/356999361" width="70%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <br/>
      <br/>
      <iframe src="https://player.vimeo.com/video/358415910" width="70%" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </center>
  </div>

  <% include ../partials/footer.ejs%>

</body>

</html>
