<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs%>
  <!-- <meta name="google-site-verification" content="xG8lCsXIU0hTHhH6Cj41yyo_tqyfsoszTugkHA93Kg0" /> -->
  <!-- <meta name="msvalidate.01" content="129B059FC9FD8F76F9BCBEFA4B897CE5" /> -->
  <link href = "/css/common.css" rel = "stylesheet" />
  <link href = "/css/project/common.css" rel = "stylesheet" />
  <link href = "/css/start.css" rel="stylesheet" />
  <link href = "/css/icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>

  <div>
    <a href = "/">Home</a>
    <a href = "/blog">Blog</a>
    <a href = "/projects">Projects</a>
    <a href = "/media">Media</a>
  </div>

  <h1>You Choose</h1>
  <h4>Restaurants | Alexa Skill</h4>

  <center><img src = "/eyecare.png"/></center>
  <div id = "text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Id ornare arcu odio ut sem. Non arcu risus quis varius quam quisque id diam. Libero volutpat sed cras ornare. Natoque penatibus et magnis dis parturient montes nascetur. Eu lobortis elementum nibh tellus molestie nunc. Lectus quam id leo in vitae turpis massa sed elementum. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Id consectetur purus ut faucibus pulvinar. Euismod quis viverra nibh cras pulvinar mattis nunc sed.</p>
  </div>

  <div id = "tech">
    <span>Tech Used</span>
    <ul>
      <li>Node.JS</li>
      <li>ASK</li>
      <li>Maps API</li>
    </ul>
  </div>

  <% include ../partials/footer.ejs%>

</body>

</html>
